
    <footer class="footer">
      <hr />
      <div class="container">
        <!-- Logo -->
        <img src="./img/logo-footer.jpg" alt="" class="logo-footer" />
        <div class="wrap-content">
          <!-- Content Cty -->
          <div class="content-footer">
            <h4>©2017 Công Ty Cổ Phần Vàng Bạc Đá Quý</h4>
            <p>
              02 Võ Oanh, P.25, Q.Bình Thạnh, TP.Hồ Chí Minh <br />
              ĐT: <span>028 9988 xxxx</span> - Fax: <span>028 3900 xxxx</span>
            </p>
            <p>
              <span>Giấy chứng nhận đăng ký doanh nghiệp: 99999999</span> do Sở
              Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/2004. Ngành, nghề
              kinh doanh
            </p>
            <p>
              Tổng đài hỗ trợ (08:00-21:00, miễn phí gọi) <br />Gọi mua:
              <span>1800545xxx </span> (phím 1) <br />Khiếu nại:
              <span>1800545xxx</span> (phím 2)
            </p>
          </div>
          <!-- Intro -->
          <div class="intro-footer">
            <span>VỀ D & C</span>
            <a href="#">Tuyển Dụng</a>
            <a href="#">Kiểm định kim cương</a>
            <a href="#">Quà tặng</a>
          </div>
          <!-- Dịch vụ, chính sách -->
          <div class="use-footer">
            <span>DỊCH VỤ KHÁCH HÀNG</span>
            <a href="#">Hướng dẫn đo size trang sức</a>
            <a href="#">Hướng dân mua và thanh toán</a>
            <a href="#">Cẩm nang sử dụng trang sức</a>
            <a href="#">Câu hỏi thường gặp</a>
            <span>TỔNG HỢP CÁC CHÍNH SÁCH D&C</span>
            <a href="#">Chính sách giao hàng</a>
            <a href="#">Chính sách bảo hành</a>
            <a href="#">Chính sách bảo mật thông tin</a>
          </div>
          <!-- Link social -->
          <div class="social-footer">
            <span>KẾT NỐI VỚI CHÚNG TÔI</span>
            <div class="logo-social">
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/facebook.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/instagram.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/youtube.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/email.svg"
                  alt=""
              /></a>
            </div>
          </div>
          <!-- Khác -->
          <div class="methor-pay">
            <span>PHƯƠNG THỨC THANH TOÁN</span>
            <div class="image-pay">
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/thanhtoantienmat.svg"
                alt=""
              />
            </div>
          </div>
          <div class="certi">
            <span>CHỨNG NHẬN</span>
            <img
              src="https://cdn.pnj.io/images/image-update/op-da-thong-bao-bo-cong-thuong-183x60.png"
              alt=""
              class="certis"
            />
          </div>
        </div>
      </div>
    </footer>
    <script src="./search.js"></script>
  </body>
</html>
