{% load static %}
<!DOCTYPE html>
<html lang="vn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/assets/css/buy-bill.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
     <!-- Favicon -->
     <link
     rel="apple-touch-icon"
     sizes="180x180"
     href="{% static 'home/favicon_io/apple-touch-icon.png' %}"
   />
   <link
     rel="icon"
     type="image/png"
     sizes="32x32"
     href="{% static 'home/favicon_io/favicon-32x32.png' %}"
   />
   <link
     rel="icon"
     type="image/png"
     sizes="16x16"
     href="{% static 'home/favicon_io/favicon-16x16.png' %}"
   />
   <link rel="manifest" href="{% static 'home/favicon_io/site.webmanifest' %}" />
   <!-- End -->
    <title>Buy bill</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="right-info">
          <a href="#"><i class="fa-solid fa-users"></i>Quan Hệ Cổ Đông</a>
          <a href="{% url 'diamond_page' %}"><i class="fa-solid fa-map-location-dot"></i>Cửa Hàng</a>
          <a href="#"><i class="fa-solid fa-headset"></i>Hotline: 18000xxxx</a>
        </div>
        <a href="{% url 'home_page1' %}"
          ><img src="{%static 'home/assets/img/img-main/logo-page.jpg' %}" alt="" class="logo-header"
        /></a>
        <div class="left-info-shop">
          <a href="{% url 'customer_page' %}" class="user-card"
            ><i class="fa-solid fa-user"></i>Tài Khoản Của Tôi
          </a>
          <a href="{% url 'cart_page' %}" class="cart-shop">
            <img
              style="width: 20px; height: auto"
              src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg"
              alt=""
            />
            <span>Giỏ Hàng</span><span class="number-cart">0</span></a
          >
        </div>
      </div>
      <hr />
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="{% url 'jewelry_page' %}" class="menu-item" id="item-1">Trang Sức</a>
            <!-- Sub Menu -->
            <div class="sub-menu-1">
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng</a>
                <a href="#">Bạc</a>
              </div>
              <div class="product-line">
                <span>Dòng Hàng</span>
                <a href="#">Trang Sức Đính Kim Cương</a
                ><a href="#">Trang Sức Không Đính Đá</a
                ><a href="#">Kim Cương Viên</a>
              </div>
              <div class="style-menu">
                <span>Trang Sức Phong Thuỷ</span>
                <a href="#">Trang Sức Theo Cung & Mệnh</a
                ><a href="#">Best Seller</a><a href="#">Hàng Đặt Trước</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/11/vuondasac-t12-400x270CTA.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'wedding_page' %}" class="menu-item" id="item-2">Trang Sức Cưới</a>
            <!-- Sub Menu 2-->
            <div class="sub-menu-2">
              <div class="purpose-menu">
                <span>Theo Mục Đích</span>
                <a href="#">Cầu Hôn</a><a href="#">Kết Hôn</a
                ><a href="#">Kỷ Niệm</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng Tay</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="product-line">
                <span>Dòng Trang Sức</span>
                <a href="#">Kim Cương</a><a href="#">Không Đính Đá</a
                ><a href="#">Đá Màu</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng 24k</a>
                <a href="#">Vàng 18k</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/10/trau-cau-08-10-24-Banner_BST_TC_KC_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'watch_page' %}" class="menu-item" id="item-3">Đồng Hồ</a>
            <!-- Sub Menu 3-->
            <div class="sub-menu-3">
              <div class="branch-menu">
                <span>Thương Hiệu Nhật Bản</span>
                <a href="#">Casio</a><a href="#">Orient</a
                ><a href="#">Citizen</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Hàng Đặt Trước</a><a href="#">Đồng Hồ</a
                ><a href="#">Đồng Hồ Cặp</a>
              </div>
              <div class="gener-menu">
                <span>Giới Tính</span>
                <a href="#">Nam</a>
                <a href="#">Nữ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/promo/216/PNJ-Watch-post-1-3.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'gift_page' %}" class="menu-item" id="item-4">Quà Tặng</a>
            <!-- Sub Menu 4-->
            <div class="sub-menu-4">
              <div class="gift-menu">
                <span>Gợi Ý Quà Tặng</span>
                <a href="#">Cho Người Lớn</a><a href="#">Cho Trẻ Em</a>
              </div>
              <div class="type-menu">
                <span>Quà Tặng Mỹ Nghệ</span>
                <a href="#">Tượng Phong Thuỷ</a><a href="#">Tranh Phong Thuỷ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/09/DW_Navigation_Bar_CTA_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="#" class="menu-item" id="item-5">Thương Hiệu</a>
            <div class="sub-menu-5">
              <div class="branch-menu">
                <div class="box">
                  <img
                    src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                    alt=""
                    class="icon-search"
                    style="width: 15px; height: auto"
                  />
                  <span>Thương Hiệu</span>
                </div>
                <div class="image">
                  <a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/relayout-pdp/mencode-thuonghieu-logo.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/style.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg"
                      alt=""
                      style="width: 100px; height: 50px"
                  /></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="{% url 'blog_page' %}" class="menu-item">Blog</a>
          </li>
          <li>
            <a href="{% url 'sales_page' %}" class="menu-item">Khuyến Mãi</a>
          </li>
          <input type="search" id="search-menu" placeholder="Tìm Kiếm Nhanh" />
        </ul>
      </nav>
    </header>
    <!-- Search -->
    <div class="search">
      <div class="wrap-search">
        <div class="search-container">
          <div class="search-bar">
            <button id="search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" id="search-input" placeholder="Tìm kiếm..." />
            <span id="search-btn-cancel">x</span>
          </div>
          <div class="search-main">
            <div class="content-sale">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <h4>Ưu đãi online</h4>
              </div>
              <div class="tags">
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 25%</a>
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 40%</a>
              </div>
            </div>
            <div class="rank-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/mui_ten.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Top tìm kiếm</span>
              </div>
              <a href="{% url 'sales_page' %}" class="tag">Hàng Mới </a
              ><a href="#" class="tag">Nhẫn Cưới </a
              ><a href="#" class="tag">Vòng Cổ</a>
            </div>
            <div class="service-hot">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/hot.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Dịch vụ hot</span>
              </div>
              <a class="tag" href="{% url 'gift_page' %}" class="gift">Phiếu quà tặng</a>
            </div>
            <div class="branch-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/searchbar/brand_icon.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Thương hiệu nổi bật</span>
              </div>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/style.svg"
                  alt=""
                  class="image-branch" /></a
              ><a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/disney.svg"
                  alt=""
                  class="image-branch"
              /></a>
            </div>
            <div class="product-top">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/tim_kiem.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Sản phẩm được tìm kiếm nhiều nhất</span>
              </div>
              <div class="wrap">
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
              </div>
            </div>
          </div>
          <div class="search-sub">
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">991 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">992 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">993 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">994 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">995 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">996 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">997 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">998 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">999 đã bán</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search -->
    <!-- End Header -->
    <!-- Main -->
     <!-- body -->
    <h1 class="title">Hướng dẫn mua hàng và thanh toán</h1>
    <div class="post_content">
      <p class="content">
        Nhằm mang lại những trải nghiệm tốt nhất, thuận lợi nhất cho
         quý khách trong quá trình sử dụng dịch vụ. PNJ giới thiệu
          những hình thức mua hàng, thanh toán linh hoạt tại website 
          pnj.com.vn giúp quý khách có thể thoải mái lựa chọn.
      </p>
      <p><img src="https://cdn.pnj.io/images/giavang/banner_banggia.jpg?time=0.12507052384179462" alt=""></p>
    </div>
    <!-- hướng dẫn mua hàng -->
    <div class="item">
      <div class="question">

        <h2>Hướng dẫn mua hàng</h2>
      </div>
      <div class="answer" style="padding-left:30px; display:block;">
        <div class="layout-content">

        </div>
        <div class="the-step">
          <div class="step">
            <div class="text-step">
              <h4 class="title">Cách 1: Liên hệ hotline</h4>
              <p class="text-content">"Quý khách vui lòng liên hệ hotline (miễn phí)"
                <a href="calto: 0987654321"></a>
                sẽ được tư vấn nhiệt tình va hỗ trợ vào khung giờ 7h - 20h đội ngũ nhân viên sẵn sàng phục vụ bạn 
              </p>
            </div>
          </div>
          <div class="step">
            <div class="text-step">
              <p class="title">
                <strong>
                  "Cách 2: Đặt hàng trực tiếp tại website"
                </strong>
              </p>
              <p class="text-content">
                <em>Bước 1: chọn sản phẩm</em>
              </p>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh1.png" alt="">
              </div>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh2.png" alt="">
                <p style="text-align:center;">
                  <em>
                    "với thanh"
                    <strong>menu sản phẩm và bộ lọc sản phẩm </strong>
                    ", quý khách có thể dễ dàng tìm kiếm đặc tính của từng dòng sản phẩm"
                  </em>
                </p>
              </div>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh3.png" alt="">
                <p class="text-content" style="text-align:center">
                  <em>
                    "Tại"
                    <strong>trang chủ</strong>
                    ", Diamond Store luôn hiển thị gợi ý về những sản phẩm hot nhất với vô vàn ưu đãi hấp dẫn"
                  </em>
                </p>
              </div>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh4.png" alt="">
                <p class="text-content" style="text-align:center">
                  <em>
                    <strong>Công cụ tìm kiếm</strong>
                    "tại đầu trang có thể trở thành trợ thủ đắc lực cùng quý khách tìm kiếm sản phẩm yêu thích nhanh nhất"
                  </em>
                </p>
              </div>
              <p class="text-content" style="text-align:left">
                <em>Bước 2: Chọn size sản phẩm</em>
              </p>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh5.png" alt="">
                <p style="text-align:center;">
                  <em>
                    "Đừng quên "
                    <strong>chọn ni, size</strong>
                    " đối với những sản phẩm nhẫn, dây chuyền, bông tai, lắc, vòng trước khi thực hiện thao tác MUA NGAY"
                  </em>
                </p>
              </div>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh6.png" alt="">
                <p style="text-align:center;">
                  <em>
                    "Trường hợp quý khách chưa chọn được ni, size phù hợp, đừng lo lắng đã có "
                    <strong>công cụ hướng dẫn chọn kích thước sản phẩm</strong>
                    "từ Diamond Store đây rồi"
                  </em>
                </p>
              </div>
              <p>
                <em>Bước 3: Đặt mua sản phẩm </em>
              </p>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh7.png" alt="">
                <p style="text-align:center;">
                  <em>
                    "Chọn "
                    <strong>xem hàng tại SHOWROOM</strong>
                    " khi quý khách chọn dịch vụ Click & Collect - Đặt trước online và nhận hàng tại cửa hàng"
                  </em>
                </p>
              </div>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh8.png" alt="">
                <p style="text-align: center;">
                  <em>
                    "Chọn "
                    <strong>MUA TRẢ GÓP</strong>
                    " khi quý khách sử dụng dịch vụ trả góp với lãi suất 0% được liên kết cùng thẻ tín dụng của 24 ngân hàng "
                  </em>
                </p>
              </div>
              <div class="mp-images">
                <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh9.png" alt="">
                <p style="text-align: center;">
                  <em>
                    "Chọn "
                    <strong>MUA NGAY</strong>
                    " khi quý khách sử dụng các hình thức thanh toán như: Tiền mặt, VN pay, qua link, chuyển khoản, thẻ quốc tế, thẻ ATM,
                    và trả góp"
                  </em>
                </p>
              </div>
            </div>
          </div>
          <div class="step">
            <div class="text-step">
             <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh10.png" alt="">
             </div>
             <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh11.png" alt="">
              <p style="text-align: center;">
                <em>
                  "Đội ngũ chuyên viên tư vấn tại "
                  <strong>Fanpage Diamond Store</strong>
                  " luôn sẵn sàng tư vấn và hỗ trợ quý khách đặt hàng nhanh chóng."
                </em>
              </p>
             </div>
             <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh12.png" alt="">
             </div>
             <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh13.png" alt="">
              <p style="text-align: center;">
                <em>
                  "Đội ngũ chuyên viên tư vấn tại kênh "
                  <strong>Zalo Official Trang Sức Diamond</strong>
                  " luôn sẵn sàng tư vấn và hỗ trợ quý khách đặt hàng nhanh chóng. Ngoài ra, với nút chọn "Vào Shop", quý khách
                   có thể tham khảo thêm vô vàn sản phẩm cúng như đặt hàng tiện lợi"
                </em>
              </p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- thanh toán  -->
    <div class="item">
      <div class="question-expanded">
        <em>
          <span class="mp-prite"></span>
        </em>
        <h2>Hướng dẫn thanh toán</h2>
      </div>
      <div class="answer" style="padding-left:30px; display:inline-block;">
        <div class="layout-content">
          <div class="step">
            <p>
              "Sau khi nhấn nút "
              <strong>MUA NGAY</strong>
              ", quý khách có thể nhận được nhiều ưu đãi bằng cách sử dụng nhiều phiếu ưu đãi."
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/blog-images/Pink-Peach-and-Purple-Relaxing-Gradients-Quote-Instagram-Post.jpg" alt="">
              <p style="text-align: center;">
                <em>
                  "Phần thông tin sản phẩm, tại ô phiếu quà tặng:"
                  <br>
                  " Bước 1. Chọn nhà cung cấp: DiamondEgift"
                  <br>
                  " Bước 2. Nhập mã voucher, có thể áp dụng nhiều voucher theo cú pháp: Voucher 1, Voucher 2,..."
                </em>
              </p>
            </div>
            <p>
              <strong>Thanh toán tiền mặt khi nhận hàng (COD)</strong>
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/18.jpg" alt="">
              <p style="text-align: center;">
                <em>
                  "Quý khách nhận hàng và "
                  <strong>thanh toán trực tiếp</strong>
                  " với nhân viên giao hàng hoặc tại cửa hàng"
                </em>
              </p>
            </div>
            <p>
              <strong>Thanh toán thẻ quốc tế/ VNPay</strong>
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/19.jpg" alt="">
              <p style="text-align: center;">
                <em>
                  "Quý khách thanh toán bằng thẻ tín dụng/ ghi nợ quốc tế đơn giản và bảo mật tại Diamond hoặc qua ứng dụng hỗ trợ  "
                  <strong>VNPAY</strong>
                  ". Xem thêm ưu đãi thanh toán VNPAY&nbsp;"
                  <a href="https://www.pnj.com.vn/vnpay">Tại đây</a>
                </em>
              </p>
            </div>
            <p>
              <strong>Thanh toán qua link</strong>
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/20.jpg" alt="">
              <p style="text-align: center;">
                <em>
                  "Với "
                  <strong>hình thức thanh toán qua link</strong>
                  ", không còn những khó khăn trong quá trình thanh toán khi chưa đăng ký Internet Banking, hay muốn "nhắn nhủ" ai đó tặng
                  quà, từ nay quý khách có thể gửi kèm link thanh toán cho người thân, bạn bè bất kỳ để hoàn tất đơn hàng trong những dip đặc biệt" 
                  <a href="https://www.pnj.com.vn/vnpay">Tại đây</a>
                </em>
              </p>
            </div>
            <p>
              <strong>Trả góp lãi suất 0%</strong>
            </p>
            <div class="mp-images">
              <em>
                <em>
                  <img src="https://cdn.pnj.io/images/image-update/21.jpg" alt="">
                </em>
              </em>
            </div>
            <div class="mp-images">
              <em>
                <em>
                  <img src="https://cdn.pnj.io/images/image-update/2021/12/muahang-thanhtoan/hinh21.png" alt="">
                </em>
              </em>
              <p style="text-align: center;">
                <em>
                  <em>
                    <em>
                      <strong>Trả góp thật dễ dãng lãi suất 0%</strong>
                      " được liên kết cùng thẻ tín dụng của 24 ngân hàng"
                    </em>
                  </em>
                </em>
              </p>
            </div>
            <p>
              <strong>Thanh toán bằng ví Momo</strong>
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/22.jpg" alt="">
              <p style="text-align: center;">
                <em>
                  "Quý khách có thể thanh toán qua ứng dụng hỗ trợ "
                  <strong>Ví MoMo</strong>
                  " và chọn "Quét Mã". "
                </em>
              </p>
            </div>
            <p>
              <strong>Thanh toán thẻ quốc tế (VISA, Master, JCB)</strong>
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/23.jpg" alt="">
              <p style="text-align: center;">
                <em> Quý khách có thể thanh toán ngay qua Payoo bằng thẻ quốc tế tại website Diamond</em>
              </p>
            </div>
            <p>
              <strong>Thanh toán chuyển khoản</strong>
            </p>
            <div class="mp-images">
              <img src="https://cdn.pnj.io/images/image-update/24.jpg" alt="">
              <p style="text-align: center;">
                <em>
                  "Mua trang sức thật tiện lợi khi Diamond Store hỗ trợ thanh toán cho phần lớn các ngân hàng tại Việt Nam. Với thông tin
                  tài khoản:"
              </p>
              <em>
                <em>
                  "TTK:"
                  <strong>Công ty Cổ Phàn Vàng Bạc Đá Quý Phú Nhuận</strong>
                  <br>
                  " STK: "
                  <strong>129491203092</strong>
                  <br>
                  " Ngân hàng: "
                  <strong>Techcombank chi nhánh Sài Gòn</strong>
                  <br>
                  " Nội dung chuyển khoản: "
                  <strong>[Tên người chuyển] [Mã đơn hàng] [Số điện thoại] [Số tiền]</strong>
                </em>
              </em>
              <p>&nbsp;</p>
              <em> </em>
            </div>
            <em> </em>
            <p>
              <strong>Thanh toán thẻ ATM</strong>
            </p>
            <div class="mp-images">
              <em>
                <em>
                  <img src="https://cdn.pnj.io/images/image-update/25.jpg" alt="">
                </em>
              </em>
              <p style="text-align: center;">
                <em>
                  <em>
                    <em>
                      "Để sử dụng phương thức thanh toán này, tài khoản ngân hàng của quý khách cần "
                      <strong>đăng ký dịch vụ Internet Banking</strong>
                    </em>
                  </em>
                </em>
              </p>
              <em>
                <em> </em>
              </em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main -->
    <!-- Footer -->

    <footer class="footer">
      <hr />
      <div class="container">
        <!-- Logo -->
        <img
          src="{%static 'home/assets/img/img-main/logo-page.jpg' %}"
          alt=""
          class="logo-footer"
        />
        <div class="wrap-content">
          <!-- Content Cty -->
          <div class="content-footer">
            <h4>©2017 Công Ty Cổ Phần Vàng Bạc Đá Quý</h4>
            <p>
              02 Võ Oanh, P.25, Q.Bình Thạnh, TP.Hồ Chí Minh <br />
              ĐT: <span>028 9988 xxxx</span> - Fax: <span>028 3900 xxxx</span>
            </p>
            <p>
              <span>Giấy chứng nhận đăng ký doanh nghiệp: 99999999</span> do Sở
              Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/2004. Ngành, nghề
              kinh doanh
            </p>
            <p>
              Tổng đài hỗ trợ (08:00-21:00, miễn phí gọi) <br />Gọi mua:
              <span>1800545xxx </span> (phím 1) <br />Khiếu nại:
              <span>1800545xxx</span> (phím 2)
            </p>
          </div>
          <!-- Intro -->
          <div class="intro-footer">
            <span>VỀ D & C</span>
            <a href="#">Tuyển Dụng</a>
            <a href="{% url 'inspection_page' %}">Kiểm định kim cương</a>
            <a href="{% url 'gift_page' %}">Quà tặng</a>
          </div>
          <!-- Dịch vụ, chính sách -->
          <div class="use-footer">
            <span>DỊCH VỤ KHÁCH HÀNG</span>
            <a href="{% url 'size_page' %}">Hướng dẫn đo size trang sức</a>
            <a href="{% url 'buybill_page' %}">Hướng dân mua và thanh toán</a>
            <a href="{% url 'guide_page' %}">Cẩm nang sử dụng trang sức</a>
            <a href="{% url 'faq_page' %}">Câu hỏi thường gặp</a>
            <span>TỔNG HỢP CÁC CHÍNH SÁCH D&C</span>
            <a href="{% url 'delivery_page' %}">Chính sách giao hàng</a>
            <a href="{% url 'warranty_page' %}">Chính sách bảo hành</a>
            <a href="{% url 'security_page' %}">Chính sách bảo mật thông tin</a>
          </div>
          <!-- Link social -->
          <div class="social-footer">
            <span>KẾT NỐI VỚI CHÚNG TÔI</span>
            <div class="logo-social">
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/facebook.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/instagram.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/youtube.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/email.svg"
                  alt=""
              /></a>
            </div>
          </div>
          <!-- Khác -->
          <div class="methor-pay">
            <span>PHƯƠNG THỨC THANH TOÁN</span>
            <div class="image-pay">
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/thanhtoantienmat.svg"
                alt=""
              />
            </div>
          </div>
          <div class="certi">
            <span>CHỨNG NHẬN</span>
            <img
              src="https://cdn.pnj.io/images/image-update/op-da-thong-bao-bo-cong-thuong-183x60.png"
              alt=""
              class="certis"
            />
          </div>
        </div>
      </div>
    </footer>
     <!-- End Sản Phảm Tương Tự -->
     <script src="{% static 'home/assets/js/search.js' %}"></script>
     <script src="{% static 'home/assets/js/buy-bill.js' %}"></script>
  </body>
</html>