{% load static %}
<!DOCTYPE html>
<html lang="vn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/assets/css/style_1.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
     <!-- Favicon -->
     <link
     rel="apple-touch-icon"
     sizes="180x180"
     href="{% static 'home/favicon_io/apple-touch-icon.png' %}"
   />
   <link
     rel="icon"
     type="image/png"
     sizes="32x32"
     href="{% static 'home/favicon_io/favicon-32x32.png' %}"
   />
   <link
     rel="icon"
     type="image/png"
     sizes="16x16"
     href="{% static 'home/favicon_io/favicon-16x16.png' %}"
   />
   <link rel="manifest" href="{% static 'home/favicon_io/site.webmanifest' %}" />
   <!-- End -->
    <title>Chinh sach bao hanh</title>
  </head>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Khởi tạo giỏ hàng và giao diện
        updateCartCount();
      });
      // Cập nhật số lượng giỏ hàng
      function updateCartCount() {
        const cart = JSON.parse(localStorage.getItem("cart")) || [];
        const totalItems = cart.reduce((sum, item) => sum + item.quantity, 0);
        document.querySelector(".number-cart").textContent = totalItems;
      }
  </script>  
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="right-info">
          <a href="#"><i class="fa-solid fa-users"></i>Quan Hệ Cổ Đông</a>
          <a href="{% url 'diamond_page' %}"><i class="fa-solid fa-map-location-dot"></i>Cửa Hàng</a>
          <a href="#"><i class="fa-solid fa-headset"></i>Hotline: 18000xxxx</a>
        </div>
        <a href="{% url 'home_page1' %}"
          ><img src="{%static 'home/assets/img/img-main/logo-page.jpg' %}" alt="" class="logo-header"
        /></a>
        <div class="left-info-shop">
          {% if request.session.user_id %}
          <a href="{% url 'customer_page' %}" class="user-card">
              <i class="fa-solid fa-user"></i> {{ request.session.user_name }}
          </a>
        {% else %}
          <a href="{% url 'login' %}" class="user-card">
                <i class="fa-solid fa-user"></i> Đăng nhập
          </a>
        {% endif %} 
          <a href="{% url 'cart_page' %}" class="cart-shop">
            <img
              style="width: 20px; height: auto"
              src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg"
              alt=""
            />
            <span>Giỏ Hàng</span><span class="number-cart">0</span></a
          >
        </div>
      </div>
      <hr />
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="{% url 'jewelry_page' %}" class="menu-item" id="item-1">Trang Sức</a>
            <!-- Sub Menu -->
            <div class="sub-menu-1">
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng</a>
                <a href="#">Bạc</a>
              </div>
              <div class="product-line">
                <span>Dòng Hàng</span>
                <a href="#">Trang Sức Đính Kim Cương</a
                ><a href="#">Trang Sức Không Đính Đá</a
                ><a href="#">Kim Cương Viên</a>
              </div>
              <div class="style-menu">
                <span>Trang Sức Phong Thuỷ</span>
                <a href="#">Trang Sức Theo Cung & Mệnh</a
                ><a href="#">Best Seller</a><a href="#">Hàng Đặt Trước</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/11/vuondasac-t12-400x270CTA.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'wedding_page' %}" class="menu-item" id="item-2">Trang Sức Cưới</a>
            <!-- Sub Menu 2-->
            <div class="sub-menu-2">
              <div class="purpose-menu">
                <span>Theo Mục Đích</span>
                <a href="#">Cầu Hôn</a><a href="#">Kết Hôn</a
                ><a href="#">Kỷ Niệm</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng Tay</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="product-line">
                <span>Dòng Trang Sức</span>
                <a href="#">Kim Cương</a><a href="#">Không Đính Đá</a
                ><a href="#">Đá Màu</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng 24k</a>
                <a href="#">Vàng 18k</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/10/trau-cau-08-10-24-Banner_BST_TC_KC_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'watch_page' %}" class="menu-item" id="item-3">Đồng Hồ</a>
            <!-- Sub Menu 3-->
            <div class="sub-menu-3">
              <div class="branch-menu">
                <span>Thương Hiệu Nhật Bản</span>
                <a href="#">Casio</a><a href="#">Orient</a
                ><a href="#">Citizen</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Hàng Đặt Trước</a><a href="#">Đồng Hồ</a
                ><a href="#">Đồng Hồ Cặp</a>
              </div>
              <div class="gener-menu">
                <span>Giới Tính</span>
                <a href="#">Nam</a>
                <a href="#">Nữ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/promo/216/PNJ-Watch-post-1-3.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'gift_page' %}" class="menu-item" id="item-4">Quà Tặng</a>
            <!-- Sub Menu 4-->
            <div class="sub-menu-4">
              <div class="gift-menu">
                <span>Gợi Ý Quà Tặng</span>
                <a href="#">Cho Người Lớn</a><a href="#">Cho Trẻ Em</a>
              </div>
              <div class="type-menu">
                <span>Quà Tặng Mỹ Nghệ</span>
                <a href="#">Tượng Phong Thuỷ</a><a href="#">Tranh Phong Thuỷ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/09/DW_Navigation_Bar_CTA_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="#" class="menu-item" id="item-5">Thương Hiệu</a>
            <div class="sub-menu-5">
              <div class="branch-menu">
                <div class="box">
                  <img
                    src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                    alt=""
                    class="icon-search"
                    style="width: 15px; height: auto"
                  />
                  <span>Thương Hiệu</span>
                </div>
                <div class="image">
                  <a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/relayout-pdp/mencode-thuonghieu-logo.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/style.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg"
                      alt=""
                      style="width: 100px; height: 50px"
                  /></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="{% url 'blog_page' %}" class="menu-item">Blog</a>
          </li>
          <li>
            <a href="{% url 'sales_page' %}" class="menu-item">Khuyến Mãi</a>
          </li>
          <input type="search" id="search-menu" placeholder="Tìm Kiếm Nhanh" />
        </ul>
      </nav>
    </header>
    <!-- Search -->
    <div class="search">
      <div class="wrap-search">
        <div class="search-container">
          <div class="search-bar">
            <button id="search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" id="search-input" placeholder="Tìm kiếm..." />
            <span id="search-btn-cancel">x</span>
          </div>
          <div class="search-main">
            <div class="content-sale">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <h4>Ưu đãi online</h4>
              </div>
              <div class="tags">
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 25%</a>
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 40%</a>
              </div>
            </div>
            <div class="rank-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/mui_ten.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Top tìm kiếm</span>
              </div>
              <a href="{% url 'sales_page' %}" class="tag">Hàng Mới </a
              ><a href="#" class="tag">Nhẫn Cưới </a
              ><a href="#" class="tag">Vòng Cổ</a>
            </div>
            <div class="service-hot">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/hot.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Dịch vụ hot</span>
              </div>
              <a class="tag" href="{% url 'gift_page' %}" class="gift">Phiếu quà tặng</a>
            </div>
            <div class="branch-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/searchbar/brand_icon.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Thương hiệu nổi bật</span>
              </div>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/style.svg"
                  alt=""
                  class="image-branch" /></a
              ><a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/disney.svg"
                  alt=""
                  class="image-branch"
              /></a>
            </div>
            <div class="product-top">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/tim_kiem.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Sản phẩm được tìm kiếm nhiều nhất</span>
              </div>
              <div class="wrap">
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
              </div>
            </div>
          </div>
          <div class="search-sub">
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">991 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">992 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">993 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">994 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">995 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">996 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">997 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">998 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">999 đã bán</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search -->
    <!-- End Header -->
    <!-- Main -->
    <main>
      <div class="faq-container">
        <h2>TỔNG HỢP CÁC CHÍNH SÁCH D&C</h2>
        <div class="faq-item">
            <button class="faq-title">Chính sách thẻ khách hàng thân thiết</button>
            <div class="faq-content">
                
                <ul>
                    <li>
                        <button class="sub-faq-title">Quyền lợi khi trở thành khách hàng thân thiết tại D&C?</button>
                        <div class="sub-faq-content">
                          <p>Là khách hàng thân thiết tại DMS, quý khách sẽ nhận được những chiết khấu đặc quyền. Hiện tại chương trình bao gồm 4 hạng thẻ, trong đó thẻ Kết Nối là hạng mặc định:</p>
                          <div class="loyalty-policy">
                            <table>
                              <thead>
                                <tr>
                                  <th>Nhóm hàng</th>
                                  <th>Thành viên</th>
                                  <th>Đồng hành</th>
                                  <th>Thân thiết</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Sản phẩm trinh công thuộc cá nhân PNJ, PNJArt (tiền công)</td>
                                  <td>5%</td>
                                  <td>6%</td>
                                  <td>10%</td>
                                </tr>
                                <tr>
                                  <td>Đá rời:<br>- Kim cương rời<br>- Đá màu rời được áp dụng</td>
                                  <td>2%</td>
                                  <td>3%</td>
                                  <td>5%</td>
                                </tr>
                                <tr>
                                  <td>Sản phẩm hàng mỏng:<br>- Trang sức đá màu, Trang sức CZ...</td>
                                  <td>3%</td>
                                  <td>5%</td>
                                  <td>7%</td>
                                </tr>
                                <tr>
                                  <td>Trang sức Bạc, Thau và sản phẩm có chất liệu hợp kim cao cấp</td>
                                  <td>7%</td>
                                  <td>10%</td>
                                  <td>12%</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </li>
                    <li>
                      <button class="sub-faq-title">Làm sao để trở thành khách hàng thân thiết?</button>
                      <div class="sub-faq-content">
                        <p>- Khi quý khách mua sắm bất kỳ sản phẩm của DMS và để lại thông tin đăng ký bao gồm: Họ tên, số điện thoại, ngày tháng năm sinh,... Xin chúc mừng quý khách đã trở thành khách hàng thân thiết tại DMS!</p>
                        <p>- Khi quý khách mua từ 10.000.000 đ trở lên sẽ lên được thẻ Đồng và quý khách sẽ lên hạng khi giá tiền lên cao theo bảng sao</p>
                        <div class="loyalty-policy">
                          <table>
                            <thead>
                              <tr>
                                <th>Hạng</th>
                                <th>Đồng</th>
                                <th>Bạc</th>
                                <th>Vàng</th>
                                <th>Bạch kim</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Tổng tiền</td>
                                <td>10.000.000 đ</td>
                                <td>30.000.000 đ</td>
                                <td>70.000.000 đ</td>
                                <td>100.000.000 đ</td>
                              </tr>
                              <tr>
                                <td>Giảm giá</td>
                                <td>5%</td>
                                <td>10%</td>
                                <td>15%</td>
                                <td>20%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <p><b>Lưu ý: </b> quyền lợi chỉ được áp dụng một lần/ khách hàng/ hóa đơn và hạn sử dụng trong tháng sinh nhật của khách hàng).</p>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-title">Chính sách thu đổi</button>
            <div class="faq-content">
              <li>
                <button class="sub-faq-title">Thu đổi 48H</button>
                <div class="sub-faq-content">
                  <b>I/ Thời gian và điều kiện áp dụng thu đổi 48H:</b>
                  <div class="loyalty-policy">
                    <table>
                      <thead>
                        <tr>
                          <th>Điều kiện</th>
                          <th>Áp dụng cho sản phẩm từ DMS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Thời gian</td>
                          <td>
                            Mua tại cửa hàng: tính từ thời điểm cửa hàng xuất hóa đơn cho khách hàng.<br>
                            Mua online với hình thức giao tận nơi: tính từ thời điểm khách hàng nhận được sản phẩm.
                          </td>
                      </tbody>
                    </table>
                  </div>
                  <b>III/ Các sản phẩm không được áp dụng thu đổi 48H:</b>
                  <p>- Các loại đá rời như: kim cương, đá màu, ngọc trai.</p>
                  <p>- Hàng thiết kế theo nhu cầu riêng của khách.</p>
                  <p> -Không áp dụng đổi 48H đối với sản phẩm đã chỉnh sửa mẫu mã, size/ni so với ban đầu.</p>
                  <b>Lưu ý chung:</b>
                  <p>- Đối với trang sức vỏ: Sau khi đã vô hột thì khách hàng sẽ chịu chi phí trồng chấu</p>
                  <p>- Quý khách vui lòng giữ sản phẩm nguyên vẹn, chưa qua sử dụng, bao bì, giấy tờ chứng từ liên quan đính kèm còn đầy đủ, thông tin hóa đơn điện tử đầy đủ.</p>
                </div>
              </li>
            </div>
        </div>
        <div class="faq-item">
          <button class="faq-title">Chính sách thu đổi hàng thiết kế – hàng khách</button>
          <div class="faq-content">
            <li>
              <button class="sub-faq-title">Khách hàng thiết kế riêng</button>
              <div class="sub-faq-content">
                <p>Không áp dụng chính sách bảo hành trong 48H</p>
                <b>Chính sách thu mua, đổi trả:</b>
                <p>- Không thu lại hàng thiết kế riêng.</p>
                <p>- Chỉ áp dụng ĐỔI sang các hàng thiết kế riêng khác khi hóa đơn mới có tổng giá trị bằng hoặc cao hơn hóa đơn cũ.</p>
                <b>Lưu ý: </b>
                <p>- Sản phẩm đổi lại phải còn nguyên vẹn: đá không trầy xước, xứt mẻ, còn đủ hóa đơn và giấy kiếm định (nếu có).</p>
                <p>- Nếu khách hàng mất hóa đơn hoặc không cung cấp được thông tin để trích lục thì không áp dụng thu đổi.</p>
              </div>
            </li>
            <li>
              <button class="sub-faq-title">Khách hàng</button>
              <div class="sub-faq-content">
                <p>Thay đổi đá chính (kích thước đá chính không thay đổi quá 2 li) + các đá xung quanh và không thay đổi kết cấu đến mức độ phải điều chỉnh hơn 40% kết cấu sản phẩm ban đầu</p>
                <p>- Được thay đổi đá màu sang kim cương và ngược lại </p>
                <p>- Các yêu cầu thêm hoặc thay đổi bất kì chi tiết nào liên quan đến kết cấu sản phẩm mẫu sẽ chuyển sang “Hàng Thiết Kế Riêng”.</p>
              </div>
            </li>
          </div>
        </div>
        <div class="faq-item">
          <button class="faq-title">Chính sách bảo hành</button>
          <div class="faq-content">
            <li>
              <button class="sub-faq-title">Trang sức</button>
              <div class="sub-faq-content">
                <p>- Miễn phí bảo hành 6 tháng về lỗi kỹ thuật, nước xi và chỉnh ni, sau 6 tháng tính phí theo mức phí bảo hành.</p>
                <p>- Miễn phí đánh bóng, siêu âm vô thời hạn.</p>
                <p>- Nhẫn cưới làm mới, đánh bóng, xi miễn phí vô thời hạn.</p>
                <b>Lưu ý: </b>
                <p>- Thời gian tính bảo hành: Ngày mua hàng trên hoá đơn, phiếu bảo hành sản phẩm, thông tin truy xuất được thời gian mua hàng.</p>
                <p>- Thời gian thực hiện bảo hành: 25 ngày.</p>
                <p>- Chỉ nhận bảo hành – sửa chữa tính phí với sản phẩm còn nguyên vẹn, đầy đủ chi tiết.</p>
              </div>
            </li>
            <li>
              <button class="sub-faq-title">Không nhận bảo hành trong các trường hợp</button>
              <div class="sub-faq-content">
                <p>- Sản phẩm bị lỗi do tác động bên ngoài, do quá trình sử dụng hoặc sử dụng không đúng cách dẫn đến sản phẩm bị biến dạng hoặc hư hỏng.</p>
                <p>- Khách hàng cung cấp thông tin truy lục hóa đơn không chính xác.</p>
                <p>- Không chỉnh ni các sản phẩm thau/hợp kim cao cấp.</p>
              </div>
            </li>
        </div>
        </div>  
        <div class="faq-item">
          <button class="faq-title">Chính sách đặt cọc đối với đơn hàng Online giao tận nơi</button>
          <div class="faq-content">
            <li>
              <button class="sub-faq-title">Quy định đặt cọc</button>
              <div class="sub-faq-content">
                <p>Trường hợp đơn hàng giá trị cao trên 20 triệu, quý khách vui lòng đặt cọc trước:</p>
                <div class="loyalty-policy">
                  <table>
                    <thead>
                      <tr>
                        <th>Giá trị đơn hàng</th>
                        <th>Quy định đặt cọc</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Từ 20 triệu đến dưới 50 triệu</td>
                        <td>30%</td>
                      </tr>
                      <tr>
                        <td>Từ 50 triệu đến dưới 100 triệu</td>
                        <td>50%</td>
                      </tr>
                      <tr>
                        <td>Trên 100 triệu</td>
                        <td>70%</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
            <li>
              <button class="sub-faq-title">Những trường hợp đổi/ trả hoặc hoàn tiền/ cọc</button>
              <div class="sub-faq-content">
                <p>- Sản phẩm bị lỗi từ nhà sản xuất.</p>
                <p>- Sản phẩm bị giao sai về số lượng, thông tin và mẫu mã so với đơn đặt hàng.</p>
                <p>- Đơn hàng thanh toán trả trước bị hủy hoặc chưa giao thành công đến quý khách.</p>
              </div>
            </li>
            <li>
              <button class="sub-faq-title">Điều kiện đổi/ trả hoặc hoàn tiền/ cọc</button>
              <div class="sub-faq-content">
                <p>- Sản phẩm DMS nhận phải còn nguyên vẹn, không có dấu hiệu đã qua sử dụng.</p>
                <p>- Trong trường hợp sản phẩm bị lỗi hoặc hư hại do quá trình vận chuyển, quý khách vui lòng cung cấp video mở hàng/ hình ảnh hàng hóa ngay sau khi nhận hàng để DMS xác nhận.</p>
              </div>
            </li>
            <li>
              <button class="sub-faq-title">Quy trình đổi/ trả hoặc hoàn tiền/ cọc</button>
              <div class="sub-faq-content">
                <p>- Bước 1: Khách hàng liên hệ với DMS yêu cầu hoàn tiền. Để quá trình hoàn tiền được thuận lợi quý khách vui lòng cung cấp hình ảnh sản phẩm và xác nhận thời gian nhận hàng.</p>
                <p>- Bước 2: DMS rà soát và phản hồi kết quả soát xét.</p>
                <p>- Bước 3: DMS tiến hành thủ tục hoàn tiền.</p>
                <p><b>Lưu ý: </b>Thời gian đổi trả, hoàn tiền</p>
                <p>- từ 7 đến 15 ngày làm việc.</p>
              </div>
            </li>
          </div>
          </div>
            <div class="faq-item">
                <button class="faq-title">Chính sách giao hàng đối với đơn hàng Online</button>
                <div class="faq-content">
                  <li>
                    <button class="sub-faq-title">Chi phí và phạm vi giao hàng</button>
                    <div class="sub-faq-content">
                      <p>- Với cam kết phục vụ tốt nhất, DMS và đối tác hân hạnh giao hàng đến quý khách hàng trên khắp 63 tỉnh thành và không thu phí vận chuyển. </p>
                    </div>
                  </li>
                  <li>
                    <button class="sub-faq-title">Thời gian giao hàng nhanh </button>
                    <div class="sub-faq-content">
                      <p>- Hồ Chí Minh: trong ngày hoặc ngày kế tiếp</p>
                      <p>- Trong 20km tại khu vực khác: 1-3 ngày</p>
                      <p>- Trên 20km tại khu vực khác: 3-5 ngày</p>
                    </div>
                  </li>
                  <li>
                    <button class="sub-faq-title">Quy cách giao hàng</button>
                    <div class="sub-faq-content">
                      <p>- Trước khi chấp nhận và thanh toán cho một đơn hàng, quý khách hàng có quyền yêu cầu được mở thùng hàng để kiểm tra hàng hóa bên trong có đúng với thông tin đặt hàng hay không, bao gồm: số lượng, chủng loại, màu sắc, hình thức, tính nguyên vẹn của hàng hóa.</p>
                      <p>- Quý khách hàng có quyền từ chối nhận hàng nếu phát hiện thùng hàng không còn nguyên vẹn hoặc thiếu tem mác.</p>
                      <p>- Quý khách vui lòng <b>QUAY LẠI TOÀN BỘ QUÁ TRÌNH MỞ HÀNG</b></p>
                      <p><b>Lưu ý: </b>Thời gian đổi trả, hoàn tiền</p>
                      <p>- từ 7 đến 15 ngày làm việc.</p>
                    </div>
                  </li>
                  <li>
                    <button class="sub-faq-title">Phản hồi về dịch vụ giao hàng</button>
                    <div class="sub-faq-content">
                      <p>- Nếu có bất kỳ vấn đề phát sinh trong khâu giao hàng khiến quý khách hàng không hài lòng, DMS xin thành thật cáo lỗi và mong quý khách hàng có thể liên hệ phản ánh trực tiếp với DMS để chúng tôi có thể nâng cao chất lượng dịch vụ.</p>
                      <p>- Thời gian xử lý khiếu nại hoặc phát sinh về dịch vụ giao hàng từ 2-7 ngày làm việc.</p>
                    </div>
                  </li>
                </div>
            </div>
            <div class="faq-item">
              <button class="faq-title">Chính sách bảo mật dữ liệu khách hàng</button>
              <div class="faq-content">
                <li>
                  <button class="sub-faq-title">Mục đích thu thập thông tin cá nhân của khách hàng</button>
                  <div class="sub-faq-content">
                    <p>- Cung cấp dịch vụ và quản lý, sử dụng thông tin cá nhân của khách hàng nhằm mục đích quản lý cơ sở dữ liệu của khách hàng và kịp thời xử lý các tình huống phát sinh (nếu có).</p>
                  </div>
                </li>
                <li>
                  <button class="sub-faq-title">Cam kết bảo mật thông tin cá nhân của người tiêu dùng</button>
                  <div class="sub-faq-content">
                    <p>- Không sử dụng, không chuyển giao, cung cấp hoặc tiết lộ cho bên thứ 3 về thông tin cá nhân của khách hàng khi không có sự đồng ý ngoại trừ các trường hợp được quy định tại quy định này hoặc quy định của pháp luật.</p>
                    <p>- Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất dữ liệu cá nhân của khách hàng, ban quản trị có trách nhiệm thông báo và làm việc với cơ quan chức năng điều tra và xử lý kịp thời, đồng thời thông báo cho khách hàng được biết về vụ việc.</p>
                  </div>
                </li>
              <li>
                <button class="sub-faq-title">Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin khách hàng</button>
                <div class="sub-faq-content">
                  <p>- Khi phát hiện thông tin cá nhân của mình bị sử dụng sai mục đích hoặc phạm vi, khách hàng có thể gửi thông tin phản ánh và cung cấp chứng cứ liên quan tới vụ việc cho ban quản trị. Ban quản trị cam kết sẽ phản hồi ngay lập tức hoặc muộn nhất là trong vòng 24h làm việc kể từ thời điểm nhận được khiếu nại.</p>
                </div>
            </li>
        </div>
    </div>
</div>

    
    
  </main>


    <!-- Footer -->

    <footer class="footer">
      <hr />
      <div class="container">
        <!-- Logo -->
        <img
          src="{%static 'home/assets/img/img-main/logo-page.jpg' %}"
          alt=""
          class="logo-footer"
        />
        <div class="wrap-content">
          <!-- Content Cty -->
          <div class="content-footer">
            <h4>©2017 Công Ty Cổ Phần Vàng Bạc Đá Quý</h4>
            <p>
              02 Võ Oanh, P.25, Q.Bình Thạnh, TP.Hồ Chí Minh <br />
              ĐT: <span>028 9988 xxxx</span> - Fax: <span>028 3900 xxxx</span>
            </p>
            <p>
              <span>Giấy chứng nhận đăng ký doanh nghiệp: 99999999</span> do Sở
              Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/2004. Ngành, nghề
              kinh doanh
            </p>
            <p>
              Tổng đài hỗ trợ (08:00-21:00, miễn phí gọi) <br />Gọi mua:
              <span>1800545xxx </span> (phím 1) <br />Khiếu nại:
              <span>1800545xxx</span> (phím 2)
            </p>
          </div>
          <!-- Intro -->
          <div class="intro-footer">
            <span>VỀ D & C</span>
            <a href="#">Tuyển Dụng</a>
            <a href="{% url 'inspection_page' %}">Kiểm định kim cương</a>
            <a href="{% url 'gift_page' %}">Quà tặng</a>
          </div>
          <!-- Dịch vụ, chính sách -->
          <div class="use-footer">
            <span>DỊCH VỤ KHÁCH HÀNG</span>
            <a href="{% url 'size_page' %}">Hướng dẫn đo size trang sức</a>
            <a href="{% url 'buybill_page' %}">Hướng dân mua và thanh toán</a>
            <a href="{% url 'guide_page' %}">Cẩm nang sử dụng trang sức</a>
            <a href="{% url 'faq_page' %}">Câu hỏi thường gặp</a>
            <span>TỔNG HỢP CÁC CHÍNH SÁCH D&C</span>
            <a href="{% url 'delivery_page' %}">Chính sách giao hàng</a>
            <a href="{% url 'warranty_page' %}">Chính sách bảo hành</a>
            <a href="{% url 'security_page' %}">Chính sách bảo mật thông tin</a>
          </div>
          <!-- Link social -->
          <div class="social-footer">
            <span>KẾT NỐI VỚI CHÚNG TÔI</span>
            <div class="logo-social">
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/facebook.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/instagram.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/youtube.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/email.svg"
                  alt=""
              /></a>
            </div>
          </div>
          <!-- Khác -->
          <div class="methor-pay">
            <span>PHƯƠNG THỨC THANH TOÁN</span>
            <div class="image-pay">
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/thanhtoantienmat.svg"
                alt=""
              />
            </div>
          </div>
          <div class="certi">
            <span>CHỨNG NHẬN</span>
            <img
              src="https://cdn.pnj.io/images/image-update/op-da-thong-bao-bo-cong-thuong-183x60.png"
              alt=""
              class="certis"
            />
          </div>
        </div>
      </div>
    </footer>
     <!-- End Sản Phảm Tương Tự -->
     <script src="{%static 'home/assets/js/search.js' %}"></script>
  </body>
</html>