{% load static %}
<!DOCTYPE html>
<html lang="vn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/assets/css/detail.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
     <!-- Favicon -->
     <link
     rel="apple-touch-icon"
     sizes="180x180"
     href="{% static 'home/favicon_io/apple-touch-icon.png' %}"
   />
   <link
     rel="icon"
     type="image/png"
     sizes="32x32"
     href="{% static 'home/favicon_io/favicon-32x32.png' %}"
   />
   <link
     rel="icon"
     type="image/png"
     sizes="16x16"
     href="{% static 'home/favicon_io/favicon-16x16.png' %}"
   />
   <link rel="manifest" href="{% static 'home/favicon_io/site.webmanifest' %}" />
   <!-- End -->
    <title>Details</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="right-info">
          <a href="#"><i class="fa-solid fa-users"></i>Quan Hệ Cổ Đông</a>
          <a href="{% url 'diamond_page' %}"><i class="fa-solid fa-map-location-dot"></i>Cửa Hàng</a>
          <a href="#"><i class="fa-solid fa-headset"></i>Hotline: 18000xxxx</a>
        </div>
        <a href="{% url 'home_page1' %}"
          ><img src="{%static 'home/assets/img/img-main/logo-page.jpg' %}" alt="" class="logo-header"
        /></a>
        <div class="left-info-shop">
          <a href="{% url 'customer_page' %}" class="user-card"
            ><i class="fa-solid fa-user"></i>Tài Khoản Của Tôi
          </a>
          <a href="{% url 'cart_page' %}" class="cart-shop">
            <img
              style="width: 20px; height: auto"
              src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg"
              alt=""
            />
            <span>Giỏ Hàng</span><span class="number-cart">0</span></a
          >
        </div>
      </div>
      <hr />
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="{% url 'jewelry_page' %}" class="menu-item" id="item-1">Trang Sức</a>
            <!-- Sub Menu -->
            <div class="sub-menu-1">
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng</a>
                <a href="#">Bạc</a>
              </div>
              <div class="product-line">
                <span>Dòng Hàng</span>
                <a href="#">Trang Sức Đính Kim Cương</a
                ><a href="#">Trang Sức Không Đính Đá</a
                ><a href="#">Kim Cương Viên</a>
              </div>
              <div class="style-menu">
                <span>Trang Sức Phong Thuỷ</span>
                <a href="#">Trang Sức Theo Cung & Mệnh</a
                ><a href="#">Best Seller</a><a href="#">Hàng Đặt Trước</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/11/vuondasac-t12-400x270CTA.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'wedding_page' %}" class="menu-item" id="item-2">Trang Sức Cưới</a>
            <!-- Sub Menu 2-->
            <div class="sub-menu-2">
              <div class="purpose-menu">
                <span>Theo Mục Đích</span>
                <a href="#">Cầu Hôn</a><a href="#">Kết Hôn</a
                ><a href="#">Kỷ Niệm</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng Tay</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="product-line">
                <span>Dòng Trang Sức</span>
                <a href="#">Kim Cương</a><a href="#">Không Đính Đá</a
                ><a href="#">Đá Màu</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng 24k</a>
                <a href="#">Vàng 18k</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/10/trau-cau-08-10-24-Banner_BST_TC_KC_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'watch_page' %}" class="menu-item" id="item-3">Đồng Hồ</a>
            <!-- Sub Menu 3-->
            <div class="sub-menu-3">
              <div class="branch-menu">
                <span>Thương Hiệu Nhật Bản</span>
                <a href="#">Casio</a><a href="#">Orient</a
                ><a href="#">Citizen</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Hàng Đặt Trước</a><a href="#">Đồng Hồ</a
                ><a href="#">Đồng Hồ Cặp</a>
              </div>
              <div class="gener-menu">
                <span>Giới Tính</span>
                <a href="#">Nam</a>
                <a href="#">Nữ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/promo/216/PNJ-Watch-post-1-3.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'gift_page' %}" class="menu-item" id="item-4">Quà Tặng</a>
            <!-- Sub Menu 4-->
            <div class="sub-menu-4">
              <div class="gift-menu">
                <span>Gợi Ý Quà Tặng</span>
                <a href="#">Cho Người Lớn</a><a href="#">Cho Trẻ Em</a>
              </div>
              <div class="type-menu">
                <span>Quà Tặng Mỹ Nghệ</span>
                <a href="#">Tượng Phong Thuỷ</a><a href="#">Tranh Phong Thuỷ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/09/DW_Navigation_Bar_CTA_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="#" class="menu-item" id="item-5">Thương Hiệu</a>
            <div class="sub-menu-5">
              <div class="branch-menu">
                <div class="box">
                  <img
                    src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                    alt=""
                    class="icon-search"
                    style="width: 15px; height: auto"
                  />
                  <span>Thương Hiệu</span>
                </div>
                <div class="image">
                  <a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/relayout-pdp/mencode-thuonghieu-logo.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/style.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg"
                      alt=""
                      style="width: 100px; height: 50px"
                  /></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="{% url 'blog_page' %}" class="menu-item">Blog</a>
          </li>
          <li>
            <a href="{% url 'sales_page' %}" class="menu-item">Khuyến Mãi</a>
          </li>
          <input type="search" id="search-menu" placeholder="Tìm Kiếm Nhanh" />
        </ul>
      </nav>
    </header>
    <!-- Search -->
    <div class="search">
      <div class="wrap-search">
        <div class="search-container">
          <div class="search-bar">
            <button id="search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" id="search-input" placeholder="Tìm kiếm..." />
            <span id="search-btn-cancel">x</span>
          </div>
          <div class="search-main">
            <div class="content-sale">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <h4>Ưu đãi online</h4>
              </div>
              <div class="tags">
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 25%</a>
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 40%</a>
              </div>
            </div>
            <div class="rank-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/mui_ten.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Top tìm kiếm</span>
              </div>
              <a href="{% url 'sales_page' %}" class="tag">Hàng Mới </a
              ><a href="#" class="tag">Nhẫn Cưới </a
              ><a href="#" class="tag">Vòng Cổ</a>
            </div>
            <div class="service-hot">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/hot.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Dịch vụ hot</span>
              </div>
              <a class="tag" href="{% url 'gift_page' %}" class="gift">Phiếu quà tặng</a>
            </div>
            <div class="branch-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/searchbar/brand_icon.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Thương hiệu nổi bật</span>
              </div>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/style.svg"
                  alt=""
                  class="image-branch" /></a
              ><a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/disney.svg"
                  alt=""
                  class="image-branch"
              /></a>
            </div>
            <div class="product-top">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/tim_kiem.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Sản phẩm được tìm kiếm nhiều nhất</span>
              </div>
              <div class="wrap">
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
                <div class="detail">
                  <img
                    src="https://www.pnj.com.vn/search/_next/image?url=https%3A%2F%2Fcdn.pnj.io%2Fimages%2Fdetailed%2F222%2Fsp-gb0000y003038-bong-tai-vang-24k-pnj-1.png&w=64&q=75"
                    alt=""
                    style="width: 60px; height: auto"
                  />
                  <span class="price">9.999.999đ</span>
                </div>
              </div>
            </div>
          </div>
          <div class="search-sub">
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">991 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">992 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">993 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">994 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">995 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">996 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">997 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">998 đã bán</span>
                </div>
              </div>
            </div>
            <div class="content-search">
              <img
                style="width: 80px; height: auto"
                src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/204/sp-gmdd00w000634-mat-day-chuyen-kim-cuong-vang-trang-14k-pnj-chu-a-1.png"
                alt=""
              />
              <div class="title-product">
                <span class="name-product">Vòng Vàng 18k </span>
                <div class="detail-product">
                  <span class="price">9.999.999đ</span>
                  <span class="stock">999 đã bán</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search -->
    <!-- End Header -->
    <!-- Main -->
      <!-- Main -->
      <main class="product-page">
        <!-- CỘT TRÁI: HÌNH ẢNH SẢN PHẨM -->
        <section class="product-container">
          <div class="product-images">
            <!-- <div class="sub-images">
              {% for image in product.images.all %}
                <img src="{{ image.url }}" alt="{{ product.name }} góc khác" />
              {% endfor %}
            </div> -->
            <div class="main-image">
              <img src="{{ product.image.url }}" alt="{{ product.Pname }}" />
            </div>
          </div>

          <!-- MÔ TẢ SẢN PHẨM -->
          <div class="product-description">
            <h2>Mô Tả Sản Phẩm</h2>
            <table>
              <tr>
                <th>Trọng lượng</th>
                <td>{{ product.carat_weight }}</td>
              </tr>
              <tr>
                <th>Màu sắc</th>
                <td>{{ product.color }}</td>
              </tr>
              <tr>
                <th>Loại hàng</th>
                <td>{{ product.category }}</td>
              </tr>
              <tr>
                <th>Số lượng</th>
                <td>{{ product.stock }}</td>
              </tr>
              <tr>
                <th>Cắt</th>
                <td>{{ product.cut }}</td>
              </tr>
            </table>
            <span>Giới Thiệu</span>
            <p>{{ product.descPr }}</p>
          </div>
        </section>

  
        <!-- CỘT PHẢI: THÔNG TIN SẢN PHẨM -->
        <section class="product-details">
          <h1 class="product-title">{{ product.name }}</h1>
            <div class="code-rating">
              <p class="product-code">Mã sản phẩm: {{ product.ProductID }}</p>
              <div class="review1">
                <p><span>★</span>({{ product.rating }})</p>
                <p><span>{{ product.sold_count }}</span> Đã bán</p>
              </div>
            </div>

            <!-- Giá sản phẩm -->
            <p class="product-price">
              <span id="base-price" data-base-price="{{ product.price }}">{{ product.price }}</span>
              <span>VNĐ</span>
            </p>
  
          <!-- Khuyến mãi -->
          <ul class="product-promotions">
            <li>
              Giảm <strong>300K</strong> khi thanh toán qua
              <strong>VNPay</strong>.
            </li>
            <li>
              Giảm <strong>800.000 VNĐ</strong> khi mua từ
              <strong>20 triệu</strong>.
            </li>
            <li>Trả góp <strong>0%</strong> trong <strong>3-6 tháng</strong>.</li>
          </ul>
          <!-- Cách chọn kích cỡ-->
          <div class="size-use">
            <p>Chọn kích cỡ</p>
            <span class="static-size" id="static">Cách đo dây cổ</span>
            <!-- Popup hiển thị cách đo dây cổ (ẩn mặc định) -->
            <div id="size-guide-popup" class="size-guide" style="display: none">
              <div class="size-guide-content">
                <span id="close-popup" style="cursor: pointer">&times;</span>
                <h3>Cách đo size dây cổ</h3>
                <p>
                  1. Dùng chỉ hoặc giấy bản nhỏ quấn chừng quanh cổ theo vòng dây
                  mà bạn muốn đeo, lưu ý quấn trừ hao sao cho kích cỡ thoải mái.
                </p>
                <img
                  src="{% static 'home/assets/img/image/size-daychuyen-dayco.svg'%}"
                  alt="Cách đo dây cổ"
                  style="max-width: 100%"
                />
                <p>
                  2. Dùng thước đo chiều dài đoạn dây vừa đo được (đơn vị cm).
                </p>
                <img
                  src="{% static 'home/assets/img/image/thuoc-do.svg' %}"
                  alt="Cách đo dây cổ"
                  style="max-width: 100%"
                />
                <p>Kết quả bạn đo được là:</p>
                <img
                  src="{% static 'home/assets/img/image/nhan_v2.svg' %}"
                  alt="Cách đo dây cổ"
                  style="max-width: 100%"
                />
              </div>
            </div>
          </div>
          <!-- Lựa chọn kích cỡ -->
          <div class="size-options">
            <span>Vui lòng chọn size:*</span>
            <button class="size-btn" data-percent="0">40</button>
            <button class="size-btn" data-percent="5">42</button>
            <button class="size-btn" data-percent="10">45</button>
          </div>
  
          <!-- Nút gọi hành động -->
          <div class="cta-buttons">
              <a href="{% url 'cart_page' %}" class="btn-buy">Mua Ngay</a>
            <div class="box">
              <button class="btn-add" data-product-id="{{ product.ProductID }}">Thêm vào giỏ hàng</button>
              <button class="btn-call">Gọi tư vấn miễn phí</button>
            </div>
          </div>
          <!-- Kiểm tra hàng tại cửa hàng -->
          <div class="check-store">
            <label>Kiểm tra hàng tại cửa hàng:</label>
            <div class="box">
              <select>
                <option>Chọn tỉnh/TP</option>
                <option>Hà Nội</option>
                <option>TP. Hồ Chí Minh</option>
              </select>
              <select>
                <option>Chọn quận/huyện</option>
              </select>
            </div>
          </div>
        </section>
      </main>
      <!-- SẢN PHẨM TƯƠNG TỰ -->
      <section class="related-products">
        <h2>Sản Phẩm Tương Tự</h2>
        <div class="box-product">
          <div class="product-card">
            <!-- Swiper -->
            <div class="swiper image-product-swiper">
              <div class="swiper-wrapper">
                {% for product in related_products %}
                <div class="swiper-slide">
                  <div class="container-product">
                    <div class="image-product">
                      <a href="{% url 'details_page' product.ProductID %}">
                        <img src="{{product.image.url}}" alt="{{product.PPname}}" class="image" />
                      </a>
                    </div>
                    <div class="product-info">
                      <span class="title">{{product.PPname}}</span>
                      <span class="price">{{product.price}}đ</span>
                    </div>
                    <div class="title-bot">
                      <div class="review-product">
                        <div class="tock"><span>{{product.sold_count}}+ đã bán</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div
                class="swiper-button-next"
                style="color: rgb(78, 78, 78)"
              ></div>
              <div
                class="swiper-button-prev"
                style="color: rgb(78, 78, 78)"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Đánh giá -->
      <section class="customer-reviews">
        <!-- Phần Tổng Quan Đánh Giá -->
        <div class="review-summary">
          <h3>Đánh giá từ khách hàng</h3>
          <span class="average-rating">N/A</span>
          <div class="stars">★★★★★</div>
          <p>
            Tổng cộng <span id="total-reviews">0</span> đánh giá từ khách hàng
          </p>
          <button class="write-review-btn" id="open-review-form">
            Viết đánh giá
          </button>
        </div>
  
        <!-- Form Gửi Đánh Giá (Ẩn Mặc Định) -->
        <div class="review-form" id="review-form" style="display: none">
          <!-- Form thông báo -->
          <div id="notification" class="notification">
            <div class="notification-content">
              <h3>Đánh giá đã được gửi!</h3>
              <p>Cảm ơn bạn đã chia sẻ ý kiến của mình.</p>
              <button id="close-notification">Đóng</button>
            </div>
          </div>
          <h4>Gửi đánh giá của bạn</h4>
          <form id="reviewForm">
            <label for="username">Tên của bạn:</label>
            <input type="text" id="username" placeholder="Nhập tên" required />
  
            <label for="rating">Chọn số sao:</label>
            <select id="rating" required>
              <option value="5">5 ★</option>
              <option value="4">4 ★</option>
              <option value="3">3 ★</option>
              <option value="2">2 ★</option>
              <option value="1">1 ★</option>
            </select>
  
            <label for="comment">Bình luận:</label>
            <textarea
              id="comment"
              rows="4"
              placeholder="Nhập đánh giá của bạn"
              required
            ></textarea>
  
            <button type="submit" class="submit-review-btn">Gửi đánh giá</button>
          </form>
        </div>
        <!-- Phần Hiển Thị Các Đánh Giá -->
        <div class="customer-reviews-list" id="customer-reviews-list">
          <!-- Đánh giá mẫu -->
          <div class="review">
            <h4>Nguyễn Văn A</h4>
            <div class="stars">★★★★★</div>
            <p>Rất hài lòng với sản phẩm và dịch vụ!</p>
          </div>
          <div class="review">
            <h4>Trần Thị B</h4>
            <div class="stars">★★★★☆</div>
            <p>Sản phẩm tốt nhưng giao hàng hơi chậm.</p>
          </div>
          <div class="review">
            <h4>Trần Thị B</h4>
            <div class="stars">★★★★☆</div>
            <p>Sản phẩm tốt nhưng giao hàng hơi chậm.</p>
          </div>
          <div class="review">
            <h4>Trần Thị B</h4>
            <div class="stars">★★★★☆</div>
            <p>Sản phẩm tốt nhưng giao hàng hơi chậm.</p>
          </div>
          <div class="review">
            <h4>Trần Thị B</h4>
            <div class="stars">★★★★☆</div>
            <p>Sản phẩm tốt nhưng giao hàng hơi chậm.</p>
          </div>
          <div class="review">
            <h4>Trần Thị B</h4>
            <div class="stars">★★★★☆</div>
            <p>Sản phẩm tốt nhưng giao hàng hơi chậm.</p>
          </div>
        </div>
      </section>
    <!-- End Main -->
    <!-- Footer -->

    <footer class="footer">
      <hr />
      <div class="container">
        <!-- Logo -->
        <img
          src="{%static 'home/assets/img/img-main/logo-page.jpg' %}"
          alt=""
          class="logo-footer"
        />
        <div class="wrap-content">
          <!-- Content Cty -->
          <div class="content-footer">
            <h4>©2017 Công Ty Cổ Phần Vàng Bạc Đá Quý</h4>
            <p>
              02 Võ Oanh, P.25, Q.Bình Thạnh, TP.Hồ Chí Minh <br />
              ĐT: <span>028 9988 xxxx</span> - Fax: <span>028 3900 xxxx</span>
            </p>
            <p>
              <span>Giấy chứng nhận đăng ký doanh nghiệp: 99999999</span> do Sở
              Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/2004. Ngành, nghề
              kinh doanh
            </p>
            <p>
              Tổng đài hỗ trợ (08:00-21:00, miễn phí gọi) <br />Gọi mua:
              <span>1800545xxx </span> (phím 1) <br />Khiếu nại:
              <span>1800545xxx</span> (phím 2)
            </p>
          </div>
          <!-- Intro -->
          <div class="intro-footer">
            <span>VỀ D & C</span>
            <a href="#">Tuyển Dụng</a>
            <a href="{% url 'inspection_page' %}">Kiểm định kim cương</a>
            <a href="{% url 'gift_page' %}">Quà tặng</a>
          </div>
          <!-- Dịch vụ, chính sách -->
          <div class="use-footer">
            <span>DỊCH VỤ KHÁCH HÀNG</span>
            <a href="{% url 'size_page' %}">Hướng dẫn đo size trang sức</a>
            <a href="{% url 'buybill_page' %}">Hướng dân mua và thanh toán</a>
            <a href="{% url 'guide_page' %}">Cẩm nang sử dụng trang sức</a>
            <a href="{% url 'faq_page' %}">Câu hỏi thường gặp</a>
            <span>TỔNG HỢP CÁC CHÍNH SÁCH D&C</span>
            <a href="{% url 'delivery_page' %}">Chính sách giao hàng</a>
            <a href="{% url 'warranty_page' %}">Chính sách bảo hành</a>
            <a href="{% url 'security_page' %}">Chính sách bảo mật thông tin</a>
          </div>
          <!-- Link social -->
          <div class="social-footer">
            <span>KẾT NỐI VỚI CHÚNG TÔI</span>
            <div class="logo-social">
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/facebook.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/instagram.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/youtube.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/email.svg"
                  alt=""
              /></a>
            </div>
          </div>
          <!-- Khác -->
          <div class="methor-pay">
            <span>PHƯƠNG THỨC THANH TOÁN</span>
            <div class="image-pay">
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/thanhtoantienmat.svg"
                alt=""
              />
            </div>
          </div>
          <div class="certi">
            <span>CHỨNG NHẬN</span>
            <img
              src="https://cdn.pnj.io/images/image-update/op-da-thong-bao-bo-cong-thuong-183x60.png"
              alt=""
              class="certis"
            />
          </div>
        </div>
      </div>
    </footer>
     <!-- Swiper Card Home-->
     <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
     <!-- Swiper Sản Phẩm Tương Tự -->
     <script>
       var swiper = new Swiper(".image-product-swiper", {
         slidesPerView: 4,
         // spaceBetween: 20,
         direction: getDirection(),
         loop: true,
         autoplay: {
           delay: 3000,
           disableOnInteraction: false,
         },
         navigation: {
           nextEl: ".swiper-button-next",
           prevEl: ".swiper-button-prev",
         },
         on: {
           resize: function () {
             swiper.changeDirection(getDirection());
           },
         },
       });
 
       function getDirection() {
         var windowWidth = window.innerWidth;
         var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";
 
         return direction;
       }
     </script>
     <!-- Giá -->
     <script>
      // Giả lập backend truyền giá gốc sang frontend
      const basePriceFromBackend = parseFloat("{{ product.price|default:0|floatformat:0 }}");
    
      // Gán giá gốc vào thẻ HTML
      document
        .getElementById("base-price")
        .setAttribute("data-base-price", basePriceFromBackend);
      document.getElementById("base-price").textContent =
        basePriceFromBackend.toLocaleString("vi-VN");
    
      // Lấy giá gốc từ thuộc tính data-base-price
      const basePrice = parseFloat(
        document.getElementById("base-price").getAttribute("data-base-price")
      );
    
      // Lấy tất cả các nút chọn size
      const sizeButtons = document.querySelectorAll(".size-btn");
      // Lấy phần tử hiển thị giá
      const productPrice = document.querySelector(".product-price");
    
      // Thêm sự kiện click cho từng nút
      sizeButtons.forEach((button) => {
        button.addEventListener("click", () => {
          // Lấy phần trăm tăng từ thuộc tính data-percent
          const percentIncrease = parseFloat(button.getAttribute("data-percent"));
    
          // Tính giá mới
          const newPrice = basePrice * (1 + percentIncrease / 100);
    
          // Cập nhật giá hiển thị và định dạng tiền tệ
          productPrice.innerHTML = `
            ${Math.round(newPrice).toLocaleString("vi-VN")} <span>VNĐ</span>
          `;
        });
      });
    
      // Xử lý nút chọn size (thêm class "active")
      sizeButtons.forEach((button) => {
        button.addEventListener("click", () => {
          // Xóa lớp active khỏi tất cả các nút
          sizeButtons.forEach((btn) => btn.classList.remove("active"));
          // Thêm lớp active cho nút được nhấn
          button.classList.add("active");
        });
      });
    </script>
    <!-- Add to cart -->
    <script>
       document.querySelectorAll(".btn-buy").forEach((button) => {
           button.addEventListener("click", function () {
               let productId = this.getAttribute("data-product-id");
               let quantity = 1; // Mặc định là 1 sản phẩm

               fetch("/add-to-cart/", {
                   method: "POST",
                   headers: {
                       "Content-Type": "application/json",
                       "X-CSRFToken": getCSRFToken(), // Nếu dùng Django CSRF
                   },
                   body: JSON.stringify({ product_id: productId, quantity: quantity }),
               })
               .then((response) => response.json())
               .then((data) => {
                   if (data.status === "success") {
                       alert("Sản phẩm đã được thêm vào giỏ hàng!");
                       updateCartUI(); // Cập nhật giao diện giỏ hàng
                  } else {
                       alert("Lỗi: " + data.message);
                  }
               })
               .catch((error) => console.error("Lỗi khi thêm vào giỏ hàng:", error));
                });
            });

            // Hàm lấy CSRF Token nếu dùng Django
            function getCSRFToken() {
                return document.cookie
                    .split("; ")
                    .find((row) => row.startsWith("csrftoken="))
                    ?.split("=")[1];
            }

            // Hàm cập nhật hiển thị giỏ hàng
            function updateCartUI() {
                let cartCount = document.querySelector(".number-cart");
                fetch("/cart-count/")
                    .then((response) => response.json())
                    .then((data) => {
                        cartCount.innerText = data.count;
                    });
            }

                  document.addEventListener("DOMContentLoaded", function () {
                updateCartUI();
            });
    </script>
    <!--  <script>
     document.querySelectorAll(".btn-add").forEach(button => {
      button.addEventListener("click", function () {
          let productID = this.getAttribute("data-product-id");

          if (!productID) {
              console.error("Lỗi: Không tìm thấy ID sản phẩm!");
              return;
          }

          console.log(`Thêm sản phẩm vào giỏ hàng: ID = ${productID}`);

          fetch("/add-to-cart/", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ product_id: productID, quantity: 1 })
          })
          .then(response => response.json())
          .then(data => {
              console.log("Phản hồi từ server:", data);

              // Cập nhật số lượng giỏ hàng trên giao diện
              let cartCountElement = document.querySelector(".number-cart");
              if (cartCountElement) {
                  let currentCount = parseInt(cartCountElement.innerText) || 0;
                  cartCountElement.innerText = currentCount + 1;
                  console.log(`Giỏ hàng cập nhật: ${currentCount} -> ${currentCount + 1}`);
              } else {
                  console.warn("Không tìm thấy phần tử giỏ hàng!");
              }

              alert(data.message);
          })
          .catch(error => console.error("Lỗi:", error));
            });
        });
    </scrip>   -->
  
    <script>
    document.querySelectorAll(".btn-buy").forEach((button) => {
    button.addEventListener("click", function () {
        let productId = this.getAttribute("data-product-id");
        console.log("Nhấn Mua Ngay - ProductID:", productId); // Debug

        fetch("/add-to-cart/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCSRFToken(),
            },
            body: JSON.stringify({ product_id: productId, quantity: 1 }),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log("API Response:", data); // Debug
            if (data.status === "success") {
                alert("Sản phẩm đã được thêm vào giỏ hàng!");
                updateCartUI();
            } else {
                alert("Lỗi: " + data.message);
            }
        })
        .catch((error) => console.error("Lỗi khi gọi API:", error));
    });
});

    </script>  
     <!-- End Sản Phảm Tương Tự -->
     <script src="{% static 'home/assets/js/search.js'%}"></script>
     <script src="{% static 'home/assets/js/review.js'%}" defer></script>
     <script src="{% static 'home/assets/js/howtosize.js'%}"></script>
     <script src="{% static 'home/assets/js/price-base.js'%}"></script>
  </body>
</html>