{% load static %}
<!DOCTYPE html>
<html lang="vn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/assets/css/style.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{%static 'home/favicon_io/apple-touch-icon.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{%static 'home/favicon_io/favicon-32x32.png'%}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{%static 'home/favicon_io/favicon-16x16.png'%}"
    />
    <link rel="manifest" href="{%static 'home/favicon_io/site.webmanifest'%}" />
    <!-- End -->
    <title>Diamond Shop</title>
  </head>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Khởi tạo giỏ hàng và giao diện
        updateCartCount();
      });
      // Cập nhật số lượng giỏ hàng
      function updateCartCount() {
        const cart = JSON.parse(localStorage.getItem("cart")) || [];
        const totalItems = cart.reduce((sum, item) => sum + item.quantity, 0);
        document.querySelector(".number-cart").textContent = totalItems;
      }
    </script>  
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="right-info">
          <a href="#"><i class="fa-solid fa-users"></i>Quan Hệ Cổ Đông</a>
          <a href="{% url 'diamond_page' %}"><i class="fa-solid fa-map-location-dot"></i>Cửa Hàng</a>
          <a href="#"><i class="fa-solid fa-headset"></i>Hotline: 18000xxxx</a>
        </div>
        <a href="{% url 'home_page' %}"
          ><img src="{%static 'home/assets/img/img-main/logo-page.jpg' %}" alt="" class="logo-header"
        /></a>
        <div class="left-info-shop">
          {% if request.session.user_id %}
        <a href="{% url 'customer_page' %}" class="user-card">
            <i class="fa-solid fa-user"></i> {{ request.session.user_name }}
        </a>
        {% else %}
            <a href="{% url 'login' %}" class="user-card">
                <i class="fa-solid fa-user"></i> Đăng nhập
            </a>
        {% endif %} 
          <a href="{% url 'cart_page' %}" class="cart-shop">
            <img
              style="width: 20px; height: auto"
              src="https://cdn.pnj.io/images/image-update/layout/icon-cart-new.svg"
              alt=""
            />
            <span>Giỏ Hàng</span><span class="number-cart">0</span></a
          >
        </div>
      </div>
      <hr />
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="{% url 'jewelry_page' %}" class="menu-item" id="item-1">Trang Sức</a>
            <!-- Sub Menu -->
            <div class="sub-menu-1">
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng</a>
                <a href="#">Bạc</a>
              </div>
              <div class="product-line">
                <span>Dòng Hàng</span>
                <a href="#">Trang Sức Đính Kim Cương</a
                ><a href="#">Trang Sức Không Đính Đá</a
                ><a href="#">Kim Cương Viên</a>
              </div>
              <div class="style-menu">
                <span>Trang Sức Phong Thuỷ</span>
                <a href="#">Trang Sức Theo Cung & Mệnh</a
                ><a href="#">Best Seller</a><a href="#">Hàng Đặt Trước</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/11/vuondasac-t12-400x270CTA.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'wedding_page' %}" class="menu-item" id="item-2">Trang Sức Cưới</a>
            <!-- Sub Menu 2-->
            <div class="sub-menu-2">
              <div class="purpose-menu">
                <span>Theo Mục Đích</span>
                <a href="#">Cầu Hôn</a><a href="#">Kết Hôn</a
                ><a href="#">Kỷ Niệm</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Nhẫn</a><a href="#">Bông Tai</a><a href="#">Lắc</a
                ><a href="#">Vòng Tay</a><a href="#">Dây Chuyền</a>
              </div>
              <div class="product-line">
                <span>Dòng Trang Sức</span>
                <a href="#">Kim Cương</a><a href="#">Không Đính Đá</a
                ><a href="#">Đá Màu</a>
              </div>
              <div class="material-menu">
                <span>Chất Liệu</span>
                <a href="#">Vàng 24k</a>
                <a href="#">Vàng 18k</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/10/trau-cau-08-10-24-Banner_BST_TC_KC_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'watch_page' %}" class="menu-item" id="item-3">Đồng Hồ</a>
            <!-- Sub Menu 3-->
            <div class="sub-menu-3">
              <div class="branch-menu">
                <span>Thương Hiệu Nhật Bản</span>
                <a href="#">Casio</a><a href="#">Orient</a
                ><a href="#">Citizen</a>
              </div>
              <div class="type-menu">
                <span>Chủng Loại</span>
                <a href="#">Hàng Đặt Trước</a><a href="#">Đồng Hồ</a
                ><a href="#">Đồng Hồ Cặp</a>
              </div>
              <div class="gener-menu">
                <span>Giới Tính</span>
                <a href="#">Nam</a>
                <a href="#">Nữ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/promo/216/PNJ-Watch-post-1-3.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="{% url 'gift_page' %}" class="menu-item" id="item-4">Quà Tặng</a>
            <!-- Sub Menu 4-->
            <div class="sub-menu-4">
              <div class="gift-menu">
                <span>Gợi Ý Quà Tặng</span>
                <a href="#">Cho Người Lớn</a><a href="#">Cho Trẻ Em</a>
              </div>
              <div class="type-menu">
                <span>Quà Tặng Mỹ Nghệ</span>
                <a href="#">Tượng Phong Thuỷ</a><a href="#">Tranh Phong Thuỷ</a>
              </div>
              <img
                src="https://cdn.pnj.io/images/2024/09/DW_Navigation_Bar_CTA_400x270.png"
                alt=""
                style="width: 300px; height: auto"
              />
            </div>
          </li>
          <li>
            <a href="#" class="menu-item" id="item-5">Thương Hiệu</a>
            <div class="sub-menu-5">
              <div class="branch-menu">
                <div class="box">
                  <img
                    src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                    alt=""
                    class="icon-search"
                    style="width: 15px; height: auto"
                  />
                  <span>Thương Hiệu</span>
                </div>
                <div class="image">
                  <a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/relayout-pdp/mencode-thuonghieu-logo.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/watch.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/style.svg"
                      alt=""
                      style="width: 100px; height: 50px" /></a
                  ><a href="#"
                    ><img
                      src="https://cdn.pnj.io/images/2023/brand-search-bar/disney.svg"
                      alt=""
                      style="width: 100px; height: 50px"
                  /></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="{% url 'blog_page' %}" class="menu-item">Blog</a>
          </li>
          <li>
            <a href="{% url 'sales_page' %}" class="menu-item">Khuyến Mãi</a>
          </li>
          <input type="search" id="search-menu" placeholder="Tìm Kiếm Nhanh" />
        </ul>
      </nav>
    </header>
    <!-- Search -->
    <div class="search">
      <div class="wrap-search">
        <div class="search-container">
          <div class="search-bar">
            <button id="search-btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" id="search-input" placeholder="Tìm kiếm..." />
            <span id="search-btn-cancel">x</span>
          </div>
          <div class="search-main">
            <div class="content-sale">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/iconhotdeal-new.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <h4>Ưu đãi online</h4>
              </div>
              <div class="tags">
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 25%</a>
                <a href="{% url 'sales_page' %}" class="tag">Trang sức vàng ưu đãi 40%</a>
              </div>
            </div>
            <div class="rank-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/mui_ten.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Top tìm kiếm</span>
              </div>
              <a href="{% url 'sales_page' %}" class="tag">Hàng Mới </a
              ><a href="#" class="tag">Nhẫn Cưới </a
              ><a href="#" class="tag">Vòng Cổ</a>
            </div>
            <div class="service-hot">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/hot.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Dịch vụ hot</span>
              </div>
              <a class="tag" href="{% url 'gift_page' %}" class="gift">Phiếu quà tặng</a>
            </div>
            <div class="branch-search">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/searchbar/brand_icon.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Thương hiệu nổi bật</span>
              </div>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/style.svg"
                  alt=""
                  class="image-branch" /></a
              ><a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/searchbar/disney.svg"
                  alt=""
                  class="image-branch"
              /></a>
            </div>
            <div class="product-top">
              <div class="box">
                <img
                  src="https://cdn.pnj.io/images/image-update/layout/mobile/tim_kiem.svg"
                  alt=""
                  class="icon-search"
                  style="width: 15px; height: auto"
                />
                <span>Sản phẩm được tìm kiếm nhiều nhất</span>
              </div>
              <div class="wrap">
                {% for product in top_products %}
                <div class="detail">
                  <a href="{% url 'details_page' product.ProductID%}" style="display: inline; text-align: center; margin-top: 20px; color: black;">
                    <img
                    src="{{ product.image.url }}"
                    alt="{{ product.Pname }}"
                    style="width: 80px; height: auto"
                    />
                    <p>{{ product.Pname }}</p>
                    <span class="price">{{ product.price }}đ</span>
                    <p>Lượt xem: {{ product.search_count }}</p>
                    </a>
                </div>
                {% empty %}
                <p>Không có sản phẩm nào.</p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="search-sub" id="search-results">
            <!-- {% for product in top_products %}
            <div class="content-search">
              <a href="{{% url 'details_page' product.ProductID%}" style="display: inline-flex; justify-content: space-around;">
                <img
                  style="width: 80px; height: auto"
                  src="{{ product.image.url }}" alt="{{ product.Pname }}"
                />
                <div class="title-product">
                  <span class="name-product">{{ product.Pname }}</span>
                  <div class="detail-product">
                    <span class="price">{{ product.price }}đ</span>
                    <span class="stock">{{ product.search_count }} đã xem</span>
                  </div>
                </div>
              </a> -->
            </div>
            <!-- {% endfor %} -->
          </div>
        </div>
    </div>
    <!-- End Search -->
    <!-- End Header -->
    <!-- Main -->
    <main>
      <div class="section-1">
        <div class="container">
          <!-- Card Sales -->
          <div class="wrap-card">
            <div class="card">
              <!-- Swiper Card-->
              <div class="swiper card-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      src="https://cdn.pnj.io/images/promo/199/pnjfast-t1-24-1972x640CTA.jpg"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://cdn.pnj.io/images/promo/231/xmas-24-1972x640-cta.jpg"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://cdn.pnj.io/images/promo/231/tabsale-chung-t12-24-1972x640.jpg"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://cdn.pnj.io/images/promo/196/egift-t12-23-1972x640CTA.jpg"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="https://cdn.pnj.io/images/promo/199/pnjfast-t1-24-1972x640CTA.jpg"
                      alt=""
                      style="width: 100%"
                    />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <!-- Swiper JS -->
              <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            </div>
            <!-- Image Sub -->
            <div class="image-card">
              <img
                src="https://cdn.pnj.io/images/promo/225/Banner_KC_TC_CTA__494x247_.jpg"
                alt=""
                style="width: 470px; height: auto"
              /><img
                src="https://cdn.pnj.io/images/promo/230/FAIRY_TALE__Fixed-Banner_2.png"
                alt=""
                style="width: 470px; height: auto"
              /><img
                src="https://cdn.pnj.io/images/promo/230/vuondasac-t12-494X247CTA.png"
                alt=""
                style="width: 470px; height: auto"
              />
            </div>
          </div>
          <!-- End Card Sales -->
          <!-- Sell Product -->
          <div class="wrap-container">
            <!-- Xu Hướng Tìm Kiếm -->
            <div class="box-product-1">
              <h4>Xu hướng tìm kiếm</h4>
              <div class="product-card">
                <div class="image-product">
                  <!-- Swiper -->
                  <div class="swiper image-product-swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-vang.png"
                            alt=""
                          />
                          <span>Trang Sức vàng</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/trang-suc-bac.png"
                            alt=""
                          />
                          <span>Trang Sức Bạc</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/nhan-cuoi.png"
                            alt=""
                          />
                          <span>Nhẫn Cưới</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/day-chuyen-vang.png"
                            alt=""
                          />
                          <span>Dây Chuyền Vàng</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/nhan-kim-cuong.png"
                            alt=""
                          />
                          <span>Nhẫn Kim Cương</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/bong-tai-vang.png"
                            alt=""
                          />
                          <span>Bông Tai Vàng</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/bong-tai-kim-cuong.png"
                            alt=""
                          />
                          <span>Bông Tai Kim Cương</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/lac-vong-tay.png"
                            alt=""
                          />
                          <span>Lắc Vòng Tay</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/nhan-ecz.png"
                            alt=""
                          />
                          <span>Nhẫn ECZ</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/nhan-vang.png"
                            alt=""
                          />
                          <span>Nhẫn Vàng</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/dongho2.png"
                            alt=""
                          />
                          <span>Đồng Hồ</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/vong-lac-tay-bac.png"
                            alt=""
                          />
                          <span>Vòng Lắc Tay Bạc</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/day-chuyen-bac.png"
                            alt=""
                          />
                          <span>Dây Chuyền Bạc</span></a
                        >
                      </div>
                      <div class="swiper-slide">
                        <a href="{% url 'jewelry_page' %}"
                          ><img
                            src="https://cdn.pnj.io/images/image-update/2022/hot-categories/bong-tai-bac.png"
                            alt=""
                          />
                          <span>Bông Tai Bạc</span></a
                        >
                      </div>
                    </div>
                    <div
                      class="swiper-button-next"
                      style="color: rgb(78, 78, 78)"
                    ></div>
                    <div
                      class="swiper-button-prev"
                      style="color: rgb(78, 78, 78)"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Thương Hiệu Nổi Bật -->
            <div class="box-product-2">
              <h4>Thương hiệu nổi bật</h4>
              <div class="product-card">
                <div class="image-product">
                  <!-- Swiper -->
                  <div class="swiper image-product-swiper-2">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <a href="#"
                          ><img
                            src="https://cdn.pnj.io/images/promo/202/BANNER-WEB_Style_LuckyMe_1200x1200-nocta.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a href="#"
                          ><img
                            src="https://cdn.pnj.io/images/promo/228/Mancode-Brand-Banner_desktop-mobile.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a href="#"
                          ><img
                            src="https://cdn.pnj.io/images/promo/222/1000x1000_disney.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="swiper-slide">
                        <a href="#"
                          ><img
                            src="https://cdn.pnj.io/images/promo/231/pnjwatch-t12-24-1200x1200.jpg"
                            alt=""
                          />
                        </a>
                      </div>
                    </div>
                    <div
                      class="swiper-button-next swiper-button-next-2"
                      style="color: rgb(78, 78, 78)"
                    ></div>
                    <div
                      class="swiper-button-prev swiper-button-prev-2"
                      style="color: rgb(78, 78, 78)"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Sản Phẩm Bán Chạy -->
            <div class="box-product-3">
              <h4>Sản phẩm bán chạy</h4>
              <div class="product-card">
                  <!-- Swiper -->
                  <div class="swiper image-product-swiper-3">
                      <div class="swiper-wrapper">
                          {% for product in best_sellers %}
                          <div class="swiper-slide">
                              <div class="container-product">
                                  <div class="image-product">
                                      <a href="{% url 'details_page' product.ProductID%}">
                                          <img src="{{ product.image.url }}" alt="{{ product.Pname }}" class="image"/>
                                      </a>
                                  </div>
                                  <div class="product-info">
                                      <span class="title">{{ product.Pname }}</span>
                                      <span class="price">{{ product.price }}đ</span>
                                  </div>
                                  <div class="title-bot">
                                      <div class="review-product">
                                          <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      <div class="swiper-button-next swiper-button-next-3" style="color: rgb(78, 78, 78)"></div>
                      <div class="swiper-button-prev swiper-button-prev-3" style="color: rgb(78, 78, 78)"></div>
                  </div>
              </div>
            </div>
            <!-- Sản Phẩm Mới -->
            <div class="box-product-4">
              <h4>Sản phẩm mới</h4>
              <div class="product-card">
                  <div class="swiper image-product-swiper-4">
                      <div class="swiper-wrapper">
                          {% for product in latest_products %}
                          <div class="swiper-slide">
                              <div class="container-product">
                                  <div class="image-product">
                                      <a href="{% url 'details_page' product.ProductID%}">
                                          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image" />
                                      </a>
                                  </div>
                                  <div class="product-info">
                                      <span class="title">{{ product.name }}</span>
                                      <span class="price">{{ product.price }}đ</span>
                                  </div>
                                  <div class="title-bot">
                                      <div class="rating">
                                          <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                      <div class="swiper-button-next swiper-button-next-4" style="color: rgb(78, 78, 78)"></div>
                      <div class="swiper-button-prev swiper-button-prev-4" style="color: rgb(78, 78, 78)"></div>
                  </div>
              </div>
          </div>
          
            <!-- Bộ Sưu Mới -->
            <div class="box-product-5">
              <h4>Bộ sưu mới</h4>
              <div class="product-card">
                <img
                  src="https://cdn.pnj.io/images/promo/231/emoji-t12-24-Desktop_emoji.png"
                  alt=""
                  class="image-sub"
                />
                <div class="swiper image-product-swiper-5">
                  <div class="swiper-wrapper">
                    {% for product in products %}
                    <div class="swiper-slide">
                      <div class="container-product">
                        <div class="image-product">
                          <a href="{% url 'details_page' product.ProductID%}">
                            <img src="{{ product.image.url }}" alt="{{ product.Pname }}" class="image" />
                          </a>
                        </div>
                        <div class="product-info">
                          <span class="title">{{ product.Pname }}</span>
                          <span class="price">{{ product.price }}đ</span>
                        </div>
                        <div class="title-bot">
                          <div class="rating">
                            <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-more"><a href="#">Xem Thêm</a></div>
                  <div
                    class="swiper-button-next swiper-button-next-5"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                  <div
                    class="swiper-button-prev swiper-button-prev-5"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                </div>
              </div>
            </div>
            <!-- Trang Sức Kim Cương -->
            <div>
              <img
                src="https://cdn.pnj.io/images/promo/227/kimcuong-t11-24-1200x450CTA.jpg"
                alt=""
                class="image-sub"
              />
            </div>
            <div class="box-product-6">
              <h4>Trang Sức Kim Cương</h4>
              <div class="product-card">
                <div class="swiper image-product-swiper-6">
                  <div class="swiper-wrapper">
                    {% for product in diamond_products %}
                    <div class="swiper-slide">
                      <div class="container-product">
                        <div class="image-product">
                          <a href="{% url 'details_page' product.ProductID%}">
                            <img src="{{ product.image.url }}" alt="{{ product.Pname }}" class="image" />
                          </a>
                        </div>
                        <div class="product-info">
                          <span class="title">{{ product.Pname }}</span>
                          <span class="price">{{ product.price }}đ</span>
                        </div>
                        <div class="title-bot">
                          <div class="rating">
                            <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-more"><a href="#">Xem Thêm</a></div>
                  <div class="swiper-button-next swiper-button-next-6" style="color: rgb(78, 78, 78)"></div>
                  <div class="swiper-button-prev swiper-button-prev-6" style="color: rgb(78, 78, 78)"></div>
                </div>
              </div>
            </div>
            
            <div>
              <img
                src="https://cdn.pnj.io/images/promo/231/daychuyen-t12-24-1200x450KPN.jpg"
                alt=""
                class="image-sub"
              />
            </div>
            <!-- Dây Chuyền -->
            <div class="box-product-7">
              <h4>Dây Chuyền</h4>
              <div class="product-card">
                <div class="swiper image-product-swiper-7">
                  <div class="swiper-wrapper">
                    {% for product in day_products %}
                    <div class="swiper-slide">
                      <div class="container-product">
                        <div class="image-product">
                          <a href="{% url 'details_page' product.ProductID%}">
                            <img src="{{ product.image.url }}" alt="{{ product.Pname }}" class="image" />
                          </a>
                        </div>
                        <div class="product-info">
                          <span class="title">{{ product.Pname }}</span>
                          <span class="price">{{ product.price }}đ</span>
                        </div>
                        <div class="title-bot">
                          <div class="rating">
                            <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-more"><a href="#">Xem Thêm</a></div>
                  <div
                    class="swiper-button-next swiper-button-next-7"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                  <div
                    class="swiper-button-prev swiper-button-prev-7"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                </div>
              </div>
            </div>
            <!-- Đồng Hồ -->
            <div>
              <img
                src="https://cdn.pnj.io/images/promo/231/watch-t12-24-1200x450CTA.jpg"
                alt=""
                class="image-sub"
              />
            </div>
            <div class="box-product-8">
              <h4>Dồng Hồ</h4>
              <div class="product-card">
                <div class="swiper image-product-swiper-8">
                  <div class="swiper-wrapper">
                    {% for product in dongho_products %}
                    <div class="swiper-slide">
                      <div class="container-product">
                        <div class="image-product">
                          <a href="{% url 'details_page' product.ProductID%}">
                            <img src="{{ product.image.url }}" alt="{{ product.Pname }}" class="image" />
                          </a>
                        </div>
                        <div class="product-info">
                          <span class="title">{{ product.Pname }}</span>
                          <span class="price">{{ product.price }}đ</span>
                        </div>
                        <div class="title-bot">
                          <div class="rating">
                            <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-more"><a href="#">Xem Thêm</a></div>
                  <div
                    class="swiper-button-next swiper-button-next-8"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                  <div
                    class="swiper-button-prev swiper-button-prev-8"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                </div>
              </div>
            </div>
            <!-- Trang Sức Cưới -->
            <div>
              <img
                src="https://cdn.pnj.io/images/promo/228/Banner_BST_TC_KC__1200x450__CTA.png"
                alt=""
                class="image-sub"
              />
            </div>
            <div class="box-product-9">
              <h4>Trang Sức Cưới</h4>
              <div class="product-card">
                <div class="swiper image-product-swiper-9">
                  <div class="swiper-wrapper">
                    {% for product in trangsuc_products %}
                    <div class="swiper-slide">
                      <div class="container-product">
                        <div class="image-product">
                          <a href="{% url 'details_page' product.ProductID%}">
                            <img src="{{ product.image.url }}" alt="{{ product.Pname }}" class="image" />
                          </a>
                        </div>
                        <div class="product-info">
                          <span class="title">{{ product.Pname }}</span>
                          <span class="price">{{ product.price }}đ</span>
                        </div>
                        <div class="title-bot">
                          <div class="rating">
                            <div class="tock"><span>{{ product.sold_count }} đã bán</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="btn-more"><a href="#">Xem Thêm</a></div>
                  <div
                    class="swiper-button-next swiper-button-next-9"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                  <div
                    class="swiper-button-prev swiper-button-prev-9"
                    style="color: rgb(78, 78, 78)"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sell Product -->
        </div>
      </div>
    </main>
    <!-- End Main -->
    <!-- Introduce,Address -->
    <div class="section-content">
      <div class="container">
        <img
          src="https://cdn.pnj.io/images/image-update/2020/key_points/cuahangbanner.jpg"
          alt=""
        />
        <a href="{% url 'diamond_page' %}" class="content-add"
          >Xem địa chỉ hệ thống hơn 340 Cửa Hàng D&C trên toàn quốc</a
        >
        <div class="wrap-content">
          <!-- Backgroud -->
          <div class="text"><span>TẠI SAO NÊN CHỌN D&C ?</span></div>
          <div class="box">
            <div class="span-content">
              <a href="#">
                <img
                  src="https://cdn.pnj.io/images/image-update/2020/key_points/icon-circle-tragop.svg"
                  alt=""
                  style="width: 130px; height: 130px"
                />
                <div>
                  <span>TRẢ GÓP 0% LÃI SUẤT</span>
                  <p>Áp dụng dễ dàng qua thẻ tín dụng của hơn 20 ngân hàng</p>
                </div>
              </a>
            </div>
            <div class="span-content">
              <a href="#">
                <img
                  src="https://www.ahamove.com/static/icons/AhaShip.svg"
                  alt=""
                  style="
                    width: 130px;
                    height: 130px;
                    background-color: #fff;
                    border-radius: 999px;
                  "
                />
                <div>
                  <span>GIAO HÀNG TRONG 3H</span>
                  <p>
                    Sở hữu ngay món trang sức yêu thích chỉ trong vòng 3 giờ
                  </p>
                </div>
              </a>
            </div>
            <div class="span-content">
              <a href="#">
                <img
                  src="https://cdn.pnj.io/images/image-update/2020/key_points/icon-circle-nbv.svg"
                  alt=""
                  style="width: 130px; height: 130px"
                />
                <div>
                  <span>NGƯỜI BẠN VÀNG</span>
                  <p>
                    Giải pháp tài chính cầm đồ; thu mua kim cương, túi hiệu và
                    đồng hồ cơ
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <hr />
        <span class="title-news">Tin Tức</span>
        <div class="news-container">
          <div class="image-news">
            <img
              src="https://cdn.pnj.io/images/promo/199/GIAVANG-_TH%C3%94NG_TIN_HOMEPAGE_-_15.01.jpg"
              alt=""
              style="width: 500px; height: auto"
            />
          </div>
          <div class="news-wrap">
            <div class="news">
              <img
                src="https://cdn.pnj.io/images/image-update/blog-images/thumbnail2-bst-bling-bling-fruit-tu-pnj-hello-kitty-cung-bestie-to-diem-lung-linh-mua-le-hoi-2024.jpg"
                alt=""
                style="width: 300px; height: auto"
              />
              <div class="title">
                BST Bling Bling Fruit từ PNJ ❤️ Hello Kitty: Cùng bestie tô điểm
                lung linh mùa lễ hội 2024
              </div>
              <p>
                Mùa lễ hội cuối năm đã đến rồi! Cùng với không khí rộn ràng của
                những buổi tiệc tùng, việc lựa chọn trang sức phù hợp để tỏa
                sáng trở thành điều mà các cô nàng quan tâm hàng đầu. Năm nay,
                PNJ ❤️ Hello Kitty sẽ mang đến một bất ngờ lấp lánh cho besties
                với BST Bling Bling Fruit, hứa hẹn sẽ làm say đắm trái tim của
                mọi tín đồ tiệc tùng.
              </p>
              <a href="{% url 'blog_page' %}">Xem Thêm</a>
            </div>
            <div class="news">
              <img
                src="https://cdn.pnj.io/images/image-update/blog-images/Tram/thumbnail2-tang-nang-mua-giang-sinh-ruc-ro-voi-6-mon-qua-trang-suc-kim-cuong-y-nghia.jpg"
                alt=""
                style="width: 300px; height: auto"
              />
              <div class="title">
                Tặng nàng mùa Giáng sinh rực rỡ với 6 món quà trang sức kim
                cương ý nghĩa
              </div>
              <p>
                Trong cuộc sống, những khoảnh khắc đầu tiên luôn đủ tự hào, xúc
                động và bồi hồi để ta nhớ mãi. Vì thế, PNJ đã cho ra đời bộ sưu
                tập My First Diamond để tôn vinh những lần đầu tiên đầy ý nghĩa
                ấy. Với mức giá hợp lý, PNJ hy vọng rằng các thiết kế My First
                Diamond có thể cùng bạn đánh dấu các bước ngoặt quan trọng đầu
                tiên trong đời cũng như cổ vũ cho hành trình chinh phục những
                mục tiêu tiếp theo của bạn!
              </p>
              <a href="{% url 'blog_page' %}">Xem Thêm</a>
            </div>
            <div class="btn"><a href="{% url 'blog_page' %}">Xem tất cả</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->

    <footer class="footer">
      <hr />
      <div class="container">
        <!-- Logo -->
        <img
          src="{%static 'home/assets/img/img-main/logo-page.jpg' %}"
          alt=""
          class="logo-footer"
        />
        <div class="wrap-content">
          <!-- Content Cty -->
          <div class="content-footer">
            <h4>©2017 Công Ty Cổ Phần Vàng Bạc Đá Quý</h4>
            <p>
              02 Võ Oanh, P.25, Q.Bình Thạnh, TP.Hồ Chí Minh <br />
              ĐT: <span>028 9988 xxxx</span> - Fax: <span>028 3900 xxxx</span>
            </p>
            <p>
              <span>Giấy chứng nhận đăng ký doanh nghiệp: 99999999</span> do Sở
              Kế hoạch & Đầu tư TP.HCM cấp lần đầu ngày 02/01/2004. Ngành, nghề
              kinh doanh
            </p>
            <p>
              Tổng đài hỗ trợ (08:00-21:00, miễn phí gọi) <br />Gọi mua:
              <span>1800545xxx </span> (phím 1) <br />Khiếu nại:
              <span>1800545xxx</span> (phím 2)
            </p>
          </div>
          <!-- Intro -->
          <div class="intro-footer">
            <span>VỀ D & C</span>
            <a href="#">Tuyển Dụng</a>
            <a href="{% url 'inspection_page' %}">Kiểm định kim cương</a>
            <a href="{% url 'gift_page' %}">Quà tặng</a>
          </div>
          <!-- Dịch vụ, chính sách -->
          <div class="use-footer">
            <span>DỊCH VỤ KHÁCH HÀNG</span>
            <a href="{% url 'size_page' %}">Hướng dẫn đo size trang sức</a>
            <a href="{% url 'buybill_page' %}">Hướng dân mua và thanh toán</a>
            <a href="{% url 'guide_page' %}">Cẩm nang sử dụng trang sức</a>
            <a href="{% url 'faq_page' %}">Câu hỏi thường gặp</a>
            <span>TỔNG HỢP CÁC CHÍNH SÁCH D&C</span>
            <a href="{% url 'delivery_page' %}">Chính sách giao hàng</a>
            <a href="{% url 'warranty_page' %}">Chính sách bảo hành</a>
            <a href="{% url 'security_page' %}">Chính sách bảo mật thông tin</a>
          </div>
          <!-- Link social -->
          <div class="social-footer">
            <span>KẾT NỐI VỚI CHÚNG TÔI</span>
            <div class="logo-social">
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/facebook.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/instagram.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/youtube.svg"
                  alt=""
              /></a>
              <a href="#"
                ><img
                  src="https://cdn.pnj.io/images/image-update/footer/email.svg"
                  alt=""
              /></a>
            </div>
          </div>
          <!-- Khác -->
          <div class="methor-pay">
            <span>PHƯƠNG THỨC THANH TOÁN</span>
            <div class="image-pay">
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/visa.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/mastercard.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/jcb.svg"
                alt=""
              />
              <img
                src="https://www.pnj.com.vn/design/themes/pnjrovski/media/images/payments/thanhtoantienmat.svg"
                alt=""
              />
            </div>
          </div>
          <div class="certi">
            <span>CHỨNG NHẬN</span>
            <img
              src="https://cdn.pnj.io/images/image-update/op-da-thong-bao-bo-cong-thuong-183x60.png"
              alt=""
              class="certis"
            />
          </div>
        </div>
      </div>
    </footer>
    <script src="{%static 'home/assets/js/search.js' %}"></script>
    <!-- Swiper Card Home-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".card-swiper", {
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
      });
    </script>
    <!--End Swiper Card Home-->
    <!-- Swiper Xu Hướng Tìm Kiếm -->
    <script>
      var swiper = new Swiper(".image-product-swiper", {
        slidesPerView: 6,
        direction: getDirection(),
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- Enđ Swiper Xu Hướng Tìm Kiếm -->
    <!-- Swiper Thương Hiệu Nỏi Bật -->
    <script>
      var swiper1 = new Swiper(".image-product-swiper-2", {
        slidesPerView: 3,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-2",
          prevEl: ".swiper-button-prev-2",
        },
        on: {
          resize: function () {
            swiper1.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- End Thương Hiệu Nổi Bật -->
    <!-- Swiper Sản Phẩm Bán Chạy -->
    <script>
      var swiper = new Swiper(".image-product-swiper-3", {
        slidesPerView: 4,
        spaceBetween: 20,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-3",
          prevEl: ".swiper-button-prev-3",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- End Sản Phẩm Bán Chạy -->
    <!-- Swiper Sản Phẩm Mới -->
    <script>
      var swiper = new Swiper(".image-product-swiper-4", {
        slidesPerView: 4,
        spaceBetween: 20,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-4",
          prevEl: ".swiper-button-prev-4",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- End Sản Phẩm Mới -->
    <!-- Bộ sưu tập -->
    <script>
      var swiper = new Swiper(".image-product-swiper-5", {
        slidesPerView: 3,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-5",
          prevEl: ".swiper-button-prev-5",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- End Bộ dưu tập -->
    <!-- Trang Sức Kim Cương -->
    <script>
      var swiper = new Swiper(".image-product-swiper-6", {
        slidesPerView: 5,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-6",
          prevEl: ".swiper-button-prev-6",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>

    <!-- Dây Chuyền-->
    <script>
      var swiper = new Swiper(".image-product-swiper-7", {
        slidesPerView: 5,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-7",
          prevEl: ".swiper-button-prev-7",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- Đồng Hồ   -->
    <script>
      var swiper = new Swiper(".image-product-swiper-8", {
        slidesPerView: 5,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-8",
          prevEl: ".swiper-button-prev-8",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- Trang Sức Cưới -->
    <script>
      var swiper = new Swiper(".image-product-swiper-9", {
        slidesPerView: 5,
        direction: getDirection(),
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next-9",
          prevEl: ".swiper-button-prev-9",
        },
        on: {
          resize: function () {
            swiper.changeDirection(getDirection());
          },
        },
      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? "vertical" : "horizontal";

        return direction;
      }
    </script>
    <!-- Tăng tìm kiếm -->
    <script>
      let timeout = null;  // Ngăn gửi quá nhiều request
      
      document.getElementById('search-input').addEventListener('input', function() {
          clearTimeout(timeout);  // Xóa timeout trước đó
      
          let query = this.value.trim();
          if (query.length < 2) return;  // Chỉ ghi nhận nếu nhập từ 2 ký tự trở lên
      
          timeout = setTimeout(() => {  // Chờ 500ms trước khi gửi request
              fetch(`/log-search/?q=${query}`)
                  .then(response => response.json())
                  .then(data => {
                      console.log(`Ghi nhận lượt tìm kiếm: ${query}, Tổng lượt: ${data.search_count}`);
                  })
                  .catch(error => console.error('Lỗi:', error));
          }, 500);
      });
    </script>
    <!-- Hien sp tim kiem -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
          let searchInput = document.getElementById("search-input");
          let searchResults = document.getElementById("search-results");
      
          searchInput.addEventListener("input", function () {
              let query = searchInput.value.trim();
              if (query.length < 2) {
                  searchResults.innerHTML = "";  // Xóa kết quả khi không nhập gì
                  return;
              }
      
              fetch(`/search/?q=${query}`)
                  .then(response => response.json())
                  .then(data => {
                      searchResults.innerHTML = "";  // Xóa kết quả cũ
      
                      data.results.forEach(product => {
                          let item = document.createElement("div");
                          item.classList.add("content-search");
                          item.innerHTML = `
                              <a href="/details/${product.ProductID}/" style="display: inline-flex; justify-content: space-around;">
                                  <img src="${product.image_url}" style="width: 80px; height: auto" alt="${product.Pname}">
                                  <div class="title-product">
                                      <span class="name-product">${product.Pname}</span>
                                      <div class="detail-product">
                                          <span class="price">${product.price}đ</span>
                                          <span class="stock">${product.search_count} đã xem</span>
                                      </div>
                                  </div>
                              </a>
                          `;
                          searchResults.appendChild(item);
                      });
                  })
                  .catch(error => console.error("Lỗi tìm kiếm:", error));
          });
      });
    </script>
      
  </body>
</html>




